set_location LessThan_8_i10_3_lut_3_lut 2 4 3 # SB_LUT4 (LogicCell: LessThan_8_i10_3_lut_3_lut_LC_0)
set_location LessThan_8_i12_3_lut_3_lut 2 4 4 # SB_LUT4 (LogicCell: LessThan_8_i12_3_lut_3_lut_LC_1)
set_location LessThan_8_i13_2_lut_rep_50 1 5 5 # SB_LUT4 (LogicCell: LessThan_8_i13_2_lut_rep_50_LC_2)
set_location LessThan_8_i14_3_lut 2 4 1 # SB_LUT4 (LogicCell: LessThan_8_i14_3_lut_LC_3)
set_location LessThan_8_i15_2_lut_rep_51 2 4 7 # SB_LUT4 (LogicCell: LessThan_8_i15_2_lut_rep_51_LC_4)
set_location LessThan_8_i16_3_lut 2 4 5 # SB_LUT4 (LogicCell: LessThan_8_i16_3_lut_LC_5)
set_location LessThan_8_i4_4_lut_4_lut 2 4 2 # SB_LUT4 (LogicCell: LessThan_8_i4_4_lut_4_lut_LC_6)
set_location LessThan_8_i6_3_lut_3_lut 2 3 3 # SB_LUT4 (LogicCell: LessThan_8_i6_3_lut_3_lut_LC_7)
set_location LessThan_8_i7_2_lut_rep_49 0 4 6 # SB_LUT4 (LogicCell: LessThan_8_i7_2_lut_rep_49_LC_8)
set_location LessThan_8_i8_3_lut_3_lut 2 3 4 # SB_LUT4 (LogicCell: LessThan_8_i8_3_lut_3_lut_LC_9)
set_location PWM_cnt_7__I_0_i10_3_lut_3_lut 2 3 0 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i10_3_lut_3_lut_LC_10)
set_location PWM_cnt_7__I_0_i11_2_lut_rep_48 0 4 7 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i11_2_lut_rep_48_LC_11)
set_location PWM_cnt_7__I_0_i12_3_lut_3_lut 1 5 2 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i12_3_lut_3_lut_LC_12)
set_location PWM_cnt_7__I_0_i14_3_lut 1 5 3 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i14_3_lut_LC_13)
set_location PWM_cnt_7__I_0_i4_4_lut_4_lut 0 4 5 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i4_4_lut_4_lut_LC_14)
set_location PWM_cnt_7__I_0_i6_3_lut_3_lut 0 4 3 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i6_3_lut_3_lut_LC_15)
set_location PWM_cnt_7__I_0_i8_3_lut_3_lut 0 4 4 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i8_3_lut_3_lut_LC_16)
set_location PWM_cnt_7__I_0_i9_2_lut_rep_47 0 4 0 # SB_LUT4 (LogicCell: PWM_cnt_7__I_0_i9_2_lut_rep_47_LC_17)
set_location add_188_2_lut 1 4 0 # SB_LUT4 (LogicCell: PWM_cnt__i0_LC_18)
set_location PWM_cnt__i0 1 4 0 # SB_DFFESR (LogicCell: PWM_cnt__i0_LC_18)
set_location add_188_2 1 4 0 # SB_CARRY (LogicCell: PWM_cnt__i0_LC_18)
set_location add_188_3_lut 1 4 1 # SB_LUT4 (LogicCell: PWM_cnt__i1_LC_19)
set_location PWM_cnt__i1 1 4 1 # SB_DFFESR (LogicCell: PWM_cnt__i1_LC_19)
set_location add_188_3 1 4 1 # SB_CARRY (LogicCell: PWM_cnt__i1_LC_19)
set_location add_188_4_lut 1 4 2 # SB_LUT4 (LogicCell: PWM_cnt__i2_LC_20)
set_location PWM_cnt__i2 1 4 2 # SB_DFFESR (LogicCell: PWM_cnt__i2_LC_20)
set_location add_188_4 1 4 2 # SB_CARRY (LogicCell: PWM_cnt__i2_LC_20)
set_location add_188_5_lut 1 4 3 # SB_LUT4 (LogicCell: PWM_cnt__i3_LC_21)
set_location PWM_cnt__i3 1 4 3 # SB_DFFESR (LogicCell: PWM_cnt__i3_LC_21)
set_location add_188_5 1 4 3 # SB_CARRY (LogicCell: PWM_cnt__i3_LC_21)
set_location add_188_6_lut 1 4 4 # SB_LUT4 (LogicCell: PWM_cnt__i4_LC_22)
set_location PWM_cnt__i4 1 4 4 # SB_DFFESR (LogicCell: PWM_cnt__i4_LC_22)
set_location add_188_6 1 4 4 # SB_CARRY (LogicCell: PWM_cnt__i4_LC_22)
set_location add_188_7_lut 1 4 5 # SB_LUT4 (LogicCell: PWM_cnt__i5_LC_23)
set_location PWM_cnt__i5 1 4 5 # SB_DFFESR (LogicCell: PWM_cnt__i5_LC_23)
set_location add_188_7 1 4 5 # SB_CARRY (LogicCell: PWM_cnt__i5_LC_23)
set_location add_188_8_lut 1 4 6 # SB_LUT4 (LogicCell: PWM_cnt__i6_LC_24)
set_location PWM_cnt__i6 1 4 6 # SB_DFFESR (LogicCell: PWM_cnt__i6_LC_24)
set_location add_188_8 1 4 6 # SB_CARRY (LogicCell: PWM_cnt__i6_LC_24)
set_location add_188_9_lut 1 4 7 # SB_LUT4 (LogicCell: PWM_cnt__i7_LC_25)
set_location PWM_cnt__i7 1 4 7 # SB_DFFESR (LogicCell: PWM_cnt__i7_LC_25)
set_location drv_clk_counter_526_add_4_10_lut 1 7 0 # SB_LUT4 (LogicCell: drv_clk_counter_526__i8_LC_26)
set_location drv_clk_counter_526__i8 1 7 0 # SB_DFFSR (LogicCell: drv_clk_counter_526__i8_LC_26)
set_location drv_clk_counter_526_add_4_10 1 7 0 # SB_CARRY (LogicCell: drv_clk_counter_526__i8_LC_26)
set_location drv_clk_counter_526_add_4_11_lut 1 7 1 # SB_LUT4 (LogicCell: drv_clk_counter_526__i9_LC_27)
set_location drv_clk_counter_526__i9 1 7 1 # SB_DFFSR (LogicCell: drv_clk_counter_526__i9_LC_27)
set_location drv_clk_counter_526_add_4_11 1 7 1 # SB_CARRY (LogicCell: drv_clk_counter_526__i9_LC_27)
set_location drv_clk_counter_526_add_4_12_lut 1 7 2 # SB_LUT4 (LogicCell: drv_clk_counter_526__i10_LC_28)
set_location drv_clk_counter_526__i10 1 7 2 # SB_DFFSR (LogicCell: drv_clk_counter_526__i10_LC_28)
set_location drv_clk_counter_526_add_4_2_lut 1 6 0 # SB_LUT4 (LogicCell: drv_clk_counter_526__i0_LC_29)
set_location drv_clk_counter_526__i0 1 6 0 # SB_DFFSR (LogicCell: drv_clk_counter_526__i0_LC_29)
set_location drv_clk_counter_526_add_4_2 1 6 0 # SB_CARRY (LogicCell: drv_clk_counter_526__i0_LC_29)
set_location drv_clk_counter_526_add_4_3_lut 1 6 1 # SB_LUT4 (LogicCell: drv_clk_counter_526__i1_LC_30)
set_location drv_clk_counter_526__i1 1 6 1 # SB_DFFSR (LogicCell: drv_clk_counter_526__i1_LC_30)
set_location drv_clk_counter_526_add_4_3 1 6 1 # SB_CARRY (LogicCell: drv_clk_counter_526__i1_LC_30)
set_location drv_clk_counter_526_add_4_4_lut 1 6 2 # SB_LUT4 (LogicCell: drv_clk_counter_526__i2_LC_31)
set_location drv_clk_counter_526__i2 1 6 2 # SB_DFFSR (LogicCell: drv_clk_counter_526__i2_LC_31)
set_location drv_clk_counter_526_add_4_4 1 6 2 # SB_CARRY (LogicCell: drv_clk_counter_526__i2_LC_31)
set_location drv_clk_counter_526_add_4_5_lut 1 6 3 # SB_LUT4 (LogicCell: drv_clk_counter_526__i3_LC_32)
set_location drv_clk_counter_526__i3 1 6 3 # SB_DFFSR (LogicCell: drv_clk_counter_526__i3_LC_32)
set_location drv_clk_counter_526_add_4_5 1 6 3 # SB_CARRY (LogicCell: drv_clk_counter_526__i3_LC_32)
set_location drv_clk_counter_526_add_4_6_lut 1 6 4 # SB_LUT4 (LogicCell: drv_clk_counter_526__i4_LC_33)
set_location drv_clk_counter_526__i4 1 6 4 # SB_DFFSR (LogicCell: drv_clk_counter_526__i4_LC_33)
set_location drv_clk_counter_526_add_4_6 1 6 4 # SB_CARRY (LogicCell: drv_clk_counter_526__i4_LC_33)
set_location drv_clk_counter_526_add_4_7_lut 1 6 5 # SB_LUT4 (LogicCell: drv_clk_counter_526__i5_LC_34)
set_location drv_clk_counter_526__i5 1 6 5 # SB_DFFSR (LogicCell: drv_clk_counter_526__i5_LC_34)
set_location drv_clk_counter_526_add_4_7 1 6 5 # SB_CARRY (LogicCell: drv_clk_counter_526__i5_LC_34)
set_location drv_clk_counter_526_add_4_8_lut 1 6 6 # SB_LUT4 (LogicCell: drv_clk_counter_526__i6_LC_35)
set_location drv_clk_counter_526__i6 1 6 6 # SB_DFFSR (LogicCell: drv_clk_counter_526__i6_LC_35)
set_location drv_clk_counter_526_add_4_8 1 6 6 # SB_CARRY (LogicCell: drv_clk_counter_526__i6_LC_35)
set_location drv_clk_counter_526_add_4_9_lut 1 6 7 # SB_LUT4 (LogicCell: drv_clk_counter_526__i7_LC_36)
set_location drv_clk_counter_526__i7 1 6 7 # SB_DFFSR (LogicCell: drv_clk_counter_526__i7_LC_36)
set_location drv_clk_counter_526_add_4_9 1 6 7 # SB_CARRY (LogicCell: drv_clk_counter_526__i7_LC_36)
set_location equal_587_i3_2_lut_rep_56 5 1 1 # SB_LUT4 (LogicCell: equal_587_i3_2_lut_rep_56_LC_37)
set_location i1049_3_lut 1 5 4 # SB_LUT4 (LogicCell: i1049_3_lut_LC_38)
set_location i1073_4_lut 2 3 2 # SB_LUT4 (LogicCell: cmd_decoded_156_LC_39)
set_location cmd_decoded_156 2 3 2 # SB_DFF (LogicCell: cmd_decoded_156_LC_39)
set_location i1079_4_lut 2 3 6 # SB_LUT4 (LogicCell: motor_on_158_LC_40)
set_location motor_on_158 2 3 6 # SB_DFF (LogicCell: motor_on_158_LC_40)
set_location i1160_4_lut 1 5 7 # SB_LUT4 (LogicCell: drv_cnt_i0_i2_LC_41)
set_location drv_cnt_i0_i2 1 5 7 # SB_DFF (LogicCell: drv_cnt_i0_i2_LC_41)
set_location i1195_3_lut 0 5 0 # SB_LUT4 (LogicCell: drv_cnt_i0_i1_LC_42)
set_location drv_cnt_i0_i1 0 5 0 # SB_DFFE (LogicCell: drv_cnt_i0_i1_LC_42)
set_location i1199_3_lut 0 7 1 # SB_LUT4 (LogicCell: PWM_R_144_LC_43)
set_location PWM_R_144 0 7 1 # SB_DFFESR (LogicCell: PWM_R_144_LC_43)
set_location i1203_3_lut 0 7 0 # SB_LUT4 (LogicCell: PWM_G_143_LC_44)
set_location PWM_G_143 0 7 0 # SB_DFFESR (LogicCell: PWM_G_143_LC_44)
set_location i1240_2_lut 5 2 3 # SB_LUT4 (LogicCell: i1240_2_lut_LC_45)
set_location i1241_2_lut_rep_54 4 3 5 # SB_LUT4 (LogicCell: i1241_2_lut_rep_54_LC_46)
set_location i1256_2_lut_rep_53 4 2 1 # SB_LUT4 (LogicCell: i1256_2_lut_rep_53_LC_47)
set_location i1279_2_lut_3_lut 5 1 4 # SB_LUT4 (LogicCell: i1279_2_lut_3_lut_LC_48)
set_location i1286_2_lut 2 3 5 # SB_LUT4 (LogicCell: i1286_2_lut_LC_49)
set_location i1293_3_lut_4_lut 6 1 2 # SB_LUT4 (LogicCell: i1293_3_lut_4_lut_LC_50)
set_location i1536_2_lut 6 4 2 # SB_LUT4 (LogicCell: i2c_cmd_cnt_525__i1_LC_51)
set_location i2c_cmd_cnt_525__i1 6 4 2 # SB_DFFESR (LogicCell: i2c_cmd_cnt_525__i1_LC_51)
set_location i1543_3_lut 6 4 5 # SB_LUT4 (LogicCell: i2c_cmd_cnt_525__i2_LC_52)
set_location i2c_cmd_cnt_525__i2 6 4 5 # SB_DFFESR (LogicCell: i2c_cmd_cnt_525__i2_LC_52)
set_location i1844_2_lut_rep_55 5 4 4 # SB_LUT4 (LogicCell: i1844_2_lut_rep_55_LC_53)
set_location i1846_4_lut 0 6 2 # SB_LUT4 (LogicCell: i1846_4_lut_LC_54)
set_location i1852_2_lut 2 2 0 # SB_LUT4 (LogicCell: i1852_2_lut_LC_55)
set_location i1863_4_lut 6 2 1 # SB_LUT4 (LogicCell: i1863_4_lut_LC_56)
set_location i1871_4_lut 2 2 1 # SB_LUT4 (LogicCell: i1871_4_lut_LC_57)
set_location i1882_4_lut 0 4 1 # SB_LUT4 (LogicCell: i1882_4_lut_LC_58)
set_location i1893_4_lut 0 4 2 # SB_LUT4 (LogicCell: i1893_4_lut_LC_59)
set_location i1895_3_lut_3_lut_4_lut 2 4 0 # SB_LUT4 (LogicCell: i1895_3_lut_3_lut_4_lut_LC_60)
set_location i1916_4_lut 6 2 7 # SB_LUT4 (LogicCell: i2c_stat_i2_LC_61)
set_location i2c_stat_i2 6 2 7 # SB_DFF (LogicCell: i2c_stat_i2_LC_61)
set_location i1918_4_lut 6 1 1 # SB_LUT4 (LogicCell: i2c_stat_i6_LC_62)
set_location i2c_stat_i6 6 1 1 # SB_DFF (LogicCell: i2c_stat_i6_LC_62)
set_location i1921_2_lut 1 5 0 # SB_LUT4 (LogicCell: i1921_2_lut_LC_63)
set_location i1923_2_lut_rep_41_4_lut 4 3 1 # SB_LUT4 (LogicCell: i1923_2_lut_rep_41_4_lut_LC_64)
set_location i1926_2_lut 0 6 4 # SB_LUT4 (LogicCell: i1926_2_lut_LC_65)
set_location i19_2_lut_4_lut 1 5 1 # SB_LUT4 (LogicCell: drv_cnt_i0_i0_LC_66)
set_location drv_cnt_i0_i0 1 5 1 # SB_DFF (LogicCell: drv_cnt_i0_i0_LC_66)
set_location i1_2_lut 0 6 3 # SB_LUT4 (LogicCell: i1_2_lut_LC_67)
set_location i1_2_lut_3_lut 4 4 0 # SB_LUT4 (LogicCell: i2c_steps_i3_LC_68)
set_location i2c_steps_i3 4 4 0 # SB_DFFSR (LogicCell: i2c_steps_i3_LC_68)
set_location i1_2_lut_3_lut_4_lut 5 2 7 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_4_lut_LC_69)
set_location i1_2_lut_3_lut_4_lut_adj_4 5 3 7 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_4_lut_adj_4_LC_70)
set_location i1_2_lut_3_lut_adj_11 0 6 0 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_adj_11_LC_71)
set_location i1_2_lut_3_lut_adj_12 4 1 0 # SB_LUT4 (LogicCell: i1_2_lut_3_lut_adj_12_LC_72)
set_location i1_2_lut_adj_21 2 2 3 # SB_LUT4 (LogicCell: i1_2_lut_adj_21_LC_73)
set_location i1_2_lut_rep_38_3_lut 5 4 0 # SB_LUT4 (LogicCell: i1_2_lut_rep_38_3_lut_LC_74)
set_location i1_2_lut_rep_39_4_lut 6 3 1 # SB_LUT4 (LogicCell: i1_2_lut_rep_39_4_lut_LC_75)
set_location i1_2_lut_rep_40_3_lut 6 2 6 # SB_LUT4 (LogicCell: i1_2_lut_rep_40_3_lut_LC_76)
set_location i1_2_lut_rep_44 5 4 7 # SB_LUT4 (LogicCell: i1_2_lut_rep_44_LC_77)
set_location i1_2_lut_rep_45 2 6 3 # SB_LUT4 (LogicCell: i1_2_lut_rep_45_LC_78)
set_location i1_2_lut_rep_46 6 3 0 # SB_LUT4 (LogicCell: i1_2_lut_rep_46_LC_79)
set_location i1_3_lut 5 2 4 # SB_LUT4 (LogicCell: i1_3_lut_LC_80)
set_location i1_3_lut_4_lut 4 3 3 # SB_LUT4 (LogicCell: i1_3_lut_4_lut_LC_81)
set_location i1_3_lut_4_lut_adj_5 6 3 2 # SB_LUT4 (LogicCell: i1_3_lut_4_lut_adj_5_LC_82)
set_location i1_3_lut_adj_20 2 4 6 # SB_LUT4 (LogicCell: i1_3_lut_adj_20_LC_83)
set_location i1_4_lut 5 3 3 # SB_LUT4 (LogicCell: i1_4_lut_LC_84)
set_location i1_4_lut_4_lut 5 2 1 # SB_LUT4 (LogicCell: i1_4_lut_4_lut_LC_85)
set_location i1_4_lut_adj_13 5 2 0 # SB_LUT4 (LogicCell: i1_4_lut_adj_13_LC_86)
set_location i1_4_lut_adj_14 5 3 1 # SB_LUT4 (LogicCell: i1_4_lut_adj_14_LC_87)
set_location i1_4_lut_adj_15 4 2 3 # SB_LUT4 (LogicCell: soft_SBADRi_i2_LC_88)
set_location soft_SBADRi_i2 4 2 3 # SB_DFF (LogicCell: soft_SBADRi_i2_LC_88)
set_location i1_4_lut_adj_16 4 1 1 # SB_LUT4 (LogicCell: soft_SBADRi_i3_LC_89)
set_location soft_SBADRi_i3 4 1 1 # SB_DFF (LogicCell: soft_SBADRi_i3_LC_89)
set_location i1_4_lut_adj_18 4 2 7 # SB_LUT4 (LogicCell: hard_SBDATi_i2_LC_90)
set_location hard_SBDATi_i2 4 2 7 # SB_DFF (LogicCell: hard_SBDATi_i2_LC_90)
set_location i1_4_lut_adj_19 4 2 5 # SB_LUT4 (LogicCell: hard_SBDATi_i4_LC_91)
set_location hard_SBDATi_i4 4 2 5 # SB_DFF (LogicCell: hard_SBDATi_i4_LC_91)
set_location i1_4_lut_adj_2 6 2 4 # SB_LUT4 (LogicCell: i1_4_lut_adj_2_LC_92)
set_location i1_4_lut_adj_22 4 2 0 # SB_LUT4 (LogicCell: soft_SBADRi_i0_LC_93)
set_location soft_SBADRi_i0 4 2 0 # SB_DFF (LogicCell: soft_SBADRi_i0_LC_93)
set_location i1_4_lut_adj_23 5 3 5 # SB_LUT4 (LogicCell: hard_SBDATi_i7_LC_94)
set_location hard_SBDATi_i7 5 3 5 # SB_DFF (LogicCell: hard_SBDATi_i7_LC_94)
set_location i1_4_lut_adj_3 6 2 5 # SB_LUT4 (LogicCell: i2c_steps_i0_LC_95)
set_location i2c_steps_i0 6 2 5 # SB_DFF (LogicCell: i2c_steps_i0_LC_95)
set_location i248_4_lut 2 6 2 # SB_LUT4 (LogicCell: i248_4_lut_LC_96)
set_location i28_4_lut 4 2 2 # SB_LUT4 (LogicCell: i28_4_lut_LC_97)
set_location i28_4_lut_4_lut 4 2 6 # SB_LUT4 (LogicCell: i28_4_lut_4_lut_LC_98)
set_location i29_3_lut_4_lut 4 2 4 # SB_LUT4 (LogicCell: i29_3_lut_4_lut_LC_99)
set_location i29_3_lut_4_lut_adj_1 5 3 4 # SB_LUT4 (LogicCell: i29_3_lut_4_lut_adj_1_LC_100)
set_location i29_4_lut_4_lut 5 3 0 # SB_LUT4 (LogicCell: i29_4_lut_4_lut_LC_101)
set_location i2_2_lut_3_lut 6 3 3 # SB_LUT4 (LogicCell: i2_2_lut_3_lut_LC_102)
set_location i2_3_lut 6 1 4 # SB_LUT4 (LogicCell: i2_3_lut_LC_103)
set_location i2_3_lut_4_lut 5 3 2 # SB_LUT4 (LogicCell: soft_SBADRi_i1_LC_104)
set_location soft_SBADRi_i1 5 3 2 # SB_DFF (LogicCell: soft_SBADRi_i1_LC_104)
set_location i2_3_lut_adj_17 5 2 6 # SB_LUT4 (LogicCell: i2_3_lut_adj_17_LC_105)
set_location i2_3_lut_adj_7 6 2 2 # SB_LUT4 (LogicCell: i2_3_lut_adj_7_LC_106)
set_location i2_3_lut_adj_8 0 6 7 # SB_LUT4 (LogicCell: i2_3_lut_adj_8_LC_107)
set_location i2_3_lut_rep_37 1 5 6 # SB_LUT4 (LogicCell: i2_3_lut_rep_37_LC_108)
set_location i2_3_lut_rep_43 5 3 6 # SB_LUT4 (LogicCell: i2_3_lut_rep_43_LC_109)
set_location i2_3_lut_rep_52 5 1 6 # SB_LUT4 (LogicCell: i2_3_lut_rep_52_LC_110)
set_location i2_4_lut 0 6 5 # SB_LUT4 (LogicCell: PWM_B_142_LC_111)
set_location PWM_B_142 0 6 5 # SB_DFFE (LogicCell: PWM_B_142_LC_111)
set_location i2_4_lut_adj_10 2 6 1 # SB_LUT4 (LogicCell: i2_4_lut_adj_10_LC_112)
set_location i2_4_lut_adj_6 0 6 1 # SB_LUT4 (LogicCell: i2_4_lut_adj_6_LC_113)
set_location i2_4_lut_adj_9 2 6 0 # SB_LUT4 (LogicCell: i2_4_lut_adj_9_LC_114)
set_location i2c_cnt_523_524_mux_7_i1_3_lut 5 1 3 # SB_LUT4 (LogicCell: i2c_cnt_523_524__i1_LC_115)
set_location i2c_cnt_523_524__i1 5 1 3 # SB_DFF (LogicCell: i2c_cnt_523_524__i1_LC_115)
set_location i2c_cnt_523_524_mux_7_i2_4_lut_3_lut 5 1 0 # SB_LUT4 (LogicCell: i2c_cnt_523_524__i2_LC_116)
set_location i2c_cnt_523_524__i2 5 1 0 # SB_DFF (LogicCell: i2c_cnt_523_524__i2_LC_116)
set_location i30_4_lut_3_lut 2 3 1 # SB_LUT4 (LogicCell: i30_4_lut_3_lut_LC_117)
set_location i36_4_lut 5 1 2 # SB_LUT4 (LogicCell: i36_4_lut_LC_118)
set_location i3_4_lut 2 3 7 # SB_LUT4 (LogicCell: i3_4_lut_LC_119)
set_location i4_4_lut 2 2 4 # SB_LUT4 (LogicCell: i4_4_lut_LC_120)
set_location i58_4_lut 6 1 3 # SB_LUT4 (LogicCell: i58_4_lut_LC_121)
set_location i60_3_lut 6 2 3 # SB_LUT4 (LogicCell: i60_3_lut_LC_122)
set_location i627_1_lut 6 4 3 # SB_LUT4 (LogicCell: i2c_cmd_cnt_525__i0_LC_123)
set_location i2c_cmd_cnt_525__i0 6 4 3 # SB_DFFESR (LogicCell: i2c_cmd_cnt_525__i0_LC_123)
set_location i745_2_lut_rep_42_4_lut 4 1 6 # SB_LUT4 (LogicCell: i745_2_lut_rep_42_4_lut_LC_124)
set_location i746_3_lut_4_lut 5 1 7 # SB_LUT4 (LogicCell: hard_SBSTBi_148_LC_125)
set_location hard_SBSTBi_148 5 1 7 # SB_DFF (LogicCell: hard_SBSTBi_148_LC_125)
set_location i847_4_lut 5 2 2 # SB_LUT4 (LogicCell: i2c_steps_i2_LC_126)
set_location i2c_steps_i2 5 2 2 # SB_DFF (LogicCell: i2c_steps_i2_LC_126)
set_location i856_4_lut 5 2 5 # SB_LUT4 (LogicCell: i2c_steps_i1_LC_127)
set_location i2c_steps_i1 5 2 5 # SB_DFF (LogicCell: i2c_steps_i1_LC_127)
set_location mux_387_i1_4_lut 4 1 7 # SB_LUT4 (LogicCell: hard_SBWRi_147_LC_128)
set_location hard_SBWRi_147 4 1 7 # SB_DFF (LogicCell: hard_SBWRi_147_LC_128)
set_location mux_55_i3_3_lut 6 2 0 # SB_LUT4 (LogicCell: mux_55_i3_3_lut_LC_129)
set_location mux_55_i7_3_lut 6 1 0 # SB_LUT4 (LogicCell: mux_55_i7_3_lut_LC_130)
set_location PWM_duty_i0_THRU_LUT4_0 1 3 0 # SB_LUT4 (LogicCell: PWM_duty_i0_LC_131)
set_location PWM_duty_i0 1 3 0 # SB_DFFE (LogicCell: PWM_duty_i0_LC_131)
set_location PWM_duty_i1_THRU_LUT4_0 1 3 1 # SB_LUT4 (LogicCell: PWM_duty_i1_LC_132)
set_location PWM_duty_i1 1 3 1 # SB_DFFE (LogicCell: PWM_duty_i1_LC_132)
set_location PWM_duty_i2_THRU_LUT4_0 1 3 2 # SB_LUT4 (LogicCell: PWM_duty_i2_LC_133)
set_location PWM_duty_i2 1 3 2 # SB_DFFE (LogicCell: PWM_duty_i2_LC_133)
set_location PWM_duty_i3_THRU_LUT4_0 1 3 7 # SB_LUT4 (LogicCell: PWM_duty_i3_LC_134)
set_location PWM_duty_i3 1 3 7 # SB_DFFE (LogicCell: PWM_duty_i3_LC_134)
set_location PWM_duty_i4_THRU_LUT4_0 1 3 6 # SB_LUT4 (LogicCell: PWM_duty_i4_LC_135)
set_location PWM_duty_i4 1 3 6 # SB_DFFE (LogicCell: PWM_duty_i4_LC_135)
set_location PWM_duty_i5_THRU_LUT4_0 1 3 3 # SB_LUT4 (LogicCell: PWM_duty_i5_LC_136)
set_location PWM_duty_i5 1 3 3 # SB_DFFE (LogicCell: PWM_duty_i5_LC_136)
set_location PWM_duty_i6_THRU_LUT4_0 1 3 4 # SB_LUT4 (LogicCell: PWM_duty_i6_LC_137)
set_location PWM_duty_i6 1 3 4 # SB_DFFE (LogicCell: PWM_duty_i6_LC_137)
set_location PWM_duty_i7_THRU_LUT4_0 1 3 5 # SB_LUT4 (LogicCell: PWM_duty_i7_LC_138)
set_location PWM_duty_i7 1 3 5 # SB_DFFE (LogicCell: PWM_duty_i7_LC_138)
set_location i2c_cmd_0___i1_THRU_LUT4_0 1 2 0 # SB_LUT4 (LogicCell: i2c_cmd_0___i1_LC_139)
set_location i2c_cmd_0___i1 1 2 0 # SB_DFFE (LogicCell: i2c_cmd_0___i1_LC_139)
set_location i2c_cmd_0___i10_THRU_LUT4_0 1 1 0 # SB_LUT4 (LogicCell: i2c_cmd_0___i10_LC_140)
set_location i2c_cmd_0___i10 1 1 0 # SB_DFFE (LogicCell: i2c_cmd_0___i10_LC_140)
set_location i2c_cmd_0___i11_THRU_LUT4_0 1 1 1 # SB_LUT4 (LogicCell: i2c_cmd_0___i11_LC_141)
set_location i2c_cmd_0___i11 1 1 1 # SB_DFFE (LogicCell: i2c_cmd_0___i11_LC_141)
set_location i2c_cmd_0___i12_THRU_LUT4_0 1 1 2 # SB_LUT4 (LogicCell: i2c_cmd_0___i12_LC_142)
set_location i2c_cmd_0___i12 1 1 2 # SB_DFFE (LogicCell: i2c_cmd_0___i12_LC_142)
set_location i2c_cmd_0___i13_THRU_LUT4_0 1 1 3 # SB_LUT4 (LogicCell: i2c_cmd_0___i13_LC_143)
set_location i2c_cmd_0___i13 1 1 3 # SB_DFFE (LogicCell: i2c_cmd_0___i13_LC_143)
set_location i2c_cmd_0___i14_THRU_LUT4_0 1 1 4 # SB_LUT4 (LogicCell: i2c_cmd_0___i14_LC_144)
set_location i2c_cmd_0___i14 1 1 4 # SB_DFFE (LogicCell: i2c_cmd_0___i14_LC_144)
set_location i2c_cmd_0___i15_THRU_LUT4_0 1 1 5 # SB_LUT4 (LogicCell: i2c_cmd_0___i15_LC_145)
set_location i2c_cmd_0___i15 1 1 5 # SB_DFFE (LogicCell: i2c_cmd_0___i15_LC_145)
set_location i2c_cmd_0___i16_THRU_LUT4_0 1 1 6 # SB_LUT4 (LogicCell: i2c_cmd_0___i16_LC_146)
set_location i2c_cmd_0___i16 1 1 6 # SB_DFFE (LogicCell: i2c_cmd_0___i16_LC_146)
set_location i2c_cmd_0___i2_THRU_LUT4_0 1 2 1 # SB_LUT4 (LogicCell: i2c_cmd_0___i2_LC_147)
set_location i2c_cmd_0___i2 1 2 1 # SB_DFFE (LogicCell: i2c_cmd_0___i2_LC_147)
set_location i2c_cmd_0___i3_THRU_LUT4_0 2 2 6 # SB_LUT4 (LogicCell: i2c_cmd_0___i3_LC_148)
set_location i2c_cmd_0___i3 2 2 6 # SB_DFFE (LogicCell: i2c_cmd_0___i3_LC_148)
set_location i2c_cmd_0___i4_THRU_LUT4_0 1 2 2 # SB_LUT4 (LogicCell: i2c_cmd_0___i4_LC_149)
set_location i2c_cmd_0___i4 1 2 2 # SB_DFFE (LogicCell: i2c_cmd_0___i4_LC_149)
set_location i2c_cmd_0___i5_THRU_LUT4_0 1 2 3 # SB_LUT4 (LogicCell: i2c_cmd_0___i5_LC_150)
set_location i2c_cmd_0___i5 1 2 3 # SB_DFFE (LogicCell: i2c_cmd_0___i5_LC_150)
set_location i2c_cmd_0___i6_THRU_LUT4_0 1 2 4 # SB_LUT4 (LogicCell: i2c_cmd_0___i6_LC_151)
set_location i2c_cmd_0___i6 1 2 4 # SB_DFFE (LogicCell: i2c_cmd_0___i6_LC_151)
set_location i2c_cmd_0___i7_THRU_LUT4_0 1 2 5 # SB_LUT4 (LogicCell: i2c_cmd_0___i7_LC_152)
set_location i2c_cmd_0___i7 1 2 5 # SB_DFFE (LogicCell: i2c_cmd_0___i7_LC_152)
set_location i2c_cmd_0___i8_THRU_LUT4_0 1 2 6 # SB_LUT4 (LogicCell: i2c_cmd_0___i8_LC_153)
set_location i2c_cmd_0___i8 1 2 6 # SB_DFFE (LogicCell: i2c_cmd_0___i8_LC_153)
set_location i2c_cmd_0___i9_THRU_LUT4_0 1 1 7 # SB_LUT4 (LogicCell: i2c_cmd_0___i9_LC_154)
set_location i2c_cmd_0___i9 1 1 7 # SB_DFFE (LogicCell: i2c_cmd_0___i9_LC_154)
set_location GB_BUFFER_n2981_THRU_LUT4_0 4 1 3 # SB_LUT4 (LogicCell: GB_BUFFER_n2981_THRU_LUT4_0_LC_155)
set_location GND -1 -1 -1 # GND
set_location I2C_1 0 0 1 # SB_I2C_FIFO
set_location RGB_DRV 0 15 1 # SB_RGBA_DRV
set_location osc 0 0 0 # SB_HFOSC
set_io sbio_scl 10 15 0 # SB_IO_OD
set_io sbio_sda 10 15 1 # SB_IO_OD
set_io sysclk_GB 6 0 1 # ICE_GB
set_location CONSTANT_ONE_LUT4 0 10 3 # SB_LUT4 (LogicCell: LC_156)
