ble_pack PWM_cnt_7__I_0_i9_2_lut_rep_47_LC_0_4_0 { PWM_cnt_7__I_0_i9_2_lut_rep_47 }
ble_pack i1882_4_lut_LC_0_4_1 { i1882_4_lut }
ble_pack i1893_4_lut_LC_0_4_2 { i1893_4_lut }
ble_pack PWM_cnt_7__I_0_i6_3_lut_3_lut_LC_0_4_3 { PWM_cnt_7__I_0_i6_3_lut_3_lut }
ble_pack PWM_cnt_7__I_0_i8_3_lut_3_lut_LC_0_4_4 { PWM_cnt_7__I_0_i8_3_lut_3_lut }
ble_pack PWM_cnt_7__I_0_i4_4_lut_4_lut_LC_0_4_5 { PWM_cnt_7__I_0_i4_4_lut_4_lut }
ble_pack LessThan_8_i7_2_lut_rep_49_LC_0_4_6 { LessThan_8_i7_2_lut_rep_49 }
ble_pack PWM_cnt_7__I_0_i11_2_lut_rep_48_LC_0_4_7 { PWM_cnt_7__I_0_i11_2_lut_rep_48 }
clb_pack LT_0_4 { PWM_cnt_7__I_0_i9_2_lut_rep_47_LC_0_4_0, i1882_4_lut_LC_0_4_1, i1893_4_lut_LC_0_4_2, PWM_cnt_7__I_0_i6_3_lut_3_lut_LC_0_4_3, PWM_cnt_7__I_0_i8_3_lut_3_lut_LC_0_4_4, PWM_cnt_7__I_0_i4_4_lut_4_lut_LC_0_4_5, LessThan_8_i7_2_lut_rep_49_LC_0_4_6, PWM_cnt_7__I_0_i11_2_lut_rep_48_LC_0_4_7 }
set_location LT_0_4 0 4
ble_pack drv_cnt_i0_i1_LC_0_5_0 { i1195_3_lut, drv_cnt_i0_i1 }
clb_pack LT_0_5 { drv_cnt_i0_i1_LC_0_5_0 }
set_location LT_0_5 0 5
ble_pack i1_2_lut_3_lut_adj_11_LC_0_6_0 { i1_2_lut_3_lut_adj_11 }
ble_pack i2_4_lut_adj_6_LC_0_6_1 { i2_4_lut_adj_6 }
ble_pack i1846_4_lut_LC_0_6_2 { i1846_4_lut }
ble_pack i1_2_lut_LC_0_6_3 { i1_2_lut }
ble_pack i1926_2_lut_LC_0_6_4 { i1926_2_lut }
ble_pack PWM_B_142_LC_0_6_5 { i2_4_lut, PWM_B_142 }
ble_pack i2_3_lut_adj_8_LC_0_6_7 { i2_3_lut_adj_8 }
clb_pack LT_0_6 { i1_2_lut_3_lut_adj_11_LC_0_6_0, i2_4_lut_adj_6_LC_0_6_1, i1846_4_lut_LC_0_6_2, i1_2_lut_LC_0_6_3, i1926_2_lut_LC_0_6_4, PWM_B_142_LC_0_6_5, i2_3_lut_adj_8_LC_0_6_7 }
set_location LT_0_6 0 6
ble_pack PWM_G_143_LC_0_7_0 { i1203_3_lut, PWM_G_143 }
ble_pack PWM_R_144_LC_0_7_1 { i1199_3_lut, PWM_R_144 }
clb_pack LT_0_7 { PWM_G_143_LC_0_7_0, PWM_R_144_LC_0_7_1 }
set_location LT_0_7 0 7
ble_pack CONSTANT_ONE_LUT4_LC_0_10_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_0_10 { CONSTANT_ONE_LUT4_LC_0_10_3 }
set_location LT_0_10 0 10
ble_pack i2c_cmd_0___i10_LC_1_1_0 { i2c_cmd_0___i10_THRU_LUT4_0, i2c_cmd_0___i10 }
ble_pack i2c_cmd_0___i11_LC_1_1_1 { i2c_cmd_0___i11_THRU_LUT4_0, i2c_cmd_0___i11 }
ble_pack i2c_cmd_0___i12_LC_1_1_2 { i2c_cmd_0___i12_THRU_LUT4_0, i2c_cmd_0___i12 }
ble_pack i2c_cmd_0___i13_LC_1_1_3 { i2c_cmd_0___i13_THRU_LUT4_0, i2c_cmd_0___i13 }
ble_pack i2c_cmd_0___i14_LC_1_1_4 { i2c_cmd_0___i14_THRU_LUT4_0, i2c_cmd_0___i14 }
ble_pack i2c_cmd_0___i15_LC_1_1_5 { i2c_cmd_0___i15_THRU_LUT4_0, i2c_cmd_0___i15 }
ble_pack i2c_cmd_0___i16_LC_1_1_6 { i2c_cmd_0___i16_THRU_LUT4_0, i2c_cmd_0___i16 }
ble_pack i2c_cmd_0___i9_LC_1_1_7 { i2c_cmd_0___i9_THRU_LUT4_0, i2c_cmd_0___i9 }
clb_pack LT_1_1 { i2c_cmd_0___i10_LC_1_1_0, i2c_cmd_0___i11_LC_1_1_1, i2c_cmd_0___i12_LC_1_1_2, i2c_cmd_0___i13_LC_1_1_3, i2c_cmd_0___i14_LC_1_1_4, i2c_cmd_0___i15_LC_1_1_5, i2c_cmd_0___i16_LC_1_1_6, i2c_cmd_0___i9_LC_1_1_7 }
set_location LT_1_1 1 1
ble_pack i2c_cmd_0___i1_LC_1_2_0 { i2c_cmd_0___i1_THRU_LUT4_0, i2c_cmd_0___i1 }
ble_pack i2c_cmd_0___i2_LC_1_2_1 { i2c_cmd_0___i2_THRU_LUT4_0, i2c_cmd_0___i2 }
ble_pack i2c_cmd_0___i4_LC_1_2_2 { i2c_cmd_0___i4_THRU_LUT4_0, i2c_cmd_0___i4 }
ble_pack i2c_cmd_0___i5_LC_1_2_3 { i2c_cmd_0___i5_THRU_LUT4_0, i2c_cmd_0___i5 }
ble_pack i2c_cmd_0___i6_LC_1_2_4 { i2c_cmd_0___i6_THRU_LUT4_0, i2c_cmd_0___i6 }
ble_pack i2c_cmd_0___i7_LC_1_2_5 { i2c_cmd_0___i7_THRU_LUT4_0, i2c_cmd_0___i7 }
ble_pack i2c_cmd_0___i8_LC_1_2_6 { i2c_cmd_0___i8_THRU_LUT4_0, i2c_cmd_0___i8 }
clb_pack LT_1_2 { i2c_cmd_0___i1_LC_1_2_0, i2c_cmd_0___i2_LC_1_2_1, i2c_cmd_0___i4_LC_1_2_2, i2c_cmd_0___i5_LC_1_2_3, i2c_cmd_0___i6_LC_1_2_4, i2c_cmd_0___i7_LC_1_2_5, i2c_cmd_0___i8_LC_1_2_6 }
set_location LT_1_2 1 2
ble_pack PWM_duty_i0_LC_1_3_0 { PWM_duty_i0_THRU_LUT4_0, PWM_duty_i0 }
ble_pack PWM_duty_i1_LC_1_3_1 { PWM_duty_i1_THRU_LUT4_0, PWM_duty_i1 }
ble_pack PWM_duty_i2_LC_1_3_2 { PWM_duty_i2_THRU_LUT4_0, PWM_duty_i2 }
ble_pack PWM_duty_i5_LC_1_3_3 { PWM_duty_i5_THRU_LUT4_0, PWM_duty_i5 }
ble_pack PWM_duty_i6_LC_1_3_4 { PWM_duty_i6_THRU_LUT4_0, PWM_duty_i6 }
ble_pack PWM_duty_i7_LC_1_3_5 { PWM_duty_i7_THRU_LUT4_0, PWM_duty_i7 }
ble_pack PWM_duty_i4_LC_1_3_6 { PWM_duty_i4_THRU_LUT4_0, PWM_duty_i4 }
ble_pack PWM_duty_i3_LC_1_3_7 { PWM_duty_i3_THRU_LUT4_0, PWM_duty_i3 }
clb_pack LT_1_3 { PWM_duty_i0_LC_1_3_0, PWM_duty_i1_LC_1_3_1, PWM_duty_i2_LC_1_3_2, PWM_duty_i5_LC_1_3_3, PWM_duty_i6_LC_1_3_4, PWM_duty_i7_LC_1_3_5, PWM_duty_i4_LC_1_3_6, PWM_duty_i3_LC_1_3_7 }
set_location LT_1_3 1 3
ble_pack PWM_cnt__i0_LC_1_4_0 { add_188_2_lut, PWM_cnt__i0, add_188_2 }
ble_pack PWM_cnt__i1_LC_1_4_1 { add_188_3_lut, PWM_cnt__i1, add_188_3 }
ble_pack PWM_cnt__i2_LC_1_4_2 { add_188_4_lut, PWM_cnt__i2, add_188_4 }
ble_pack PWM_cnt__i3_LC_1_4_3 { add_188_5_lut, PWM_cnt__i3, add_188_5 }
ble_pack PWM_cnt__i4_LC_1_4_4 { add_188_6_lut, PWM_cnt__i4, add_188_6 }
ble_pack PWM_cnt__i5_LC_1_4_5 { add_188_7_lut, PWM_cnt__i5, add_188_7 }
ble_pack PWM_cnt__i6_LC_1_4_6 { add_188_8_lut, PWM_cnt__i6, add_188_8 }
ble_pack PWM_cnt__i7_LC_1_4_7 { add_188_9_lut, PWM_cnt__i7 }
clb_pack LT_1_4 { PWM_cnt__i0_LC_1_4_0, PWM_cnt__i1_LC_1_4_1, PWM_cnt__i2_LC_1_4_2, PWM_cnt__i3_LC_1_4_3, PWM_cnt__i4_LC_1_4_4, PWM_cnt__i5_LC_1_4_5, PWM_cnt__i6_LC_1_4_6, PWM_cnt__i7_LC_1_4_7 }
set_location LT_1_4 1 4
ble_pack i1921_2_lut_LC_1_5_0 { i1921_2_lut }
ble_pack drv_cnt_i0_i0_LC_1_5_1 { i19_2_lut_4_lut, drv_cnt_i0_i0 }
ble_pack PWM_cnt_7__I_0_i12_3_lut_3_lut_LC_1_5_2 { PWM_cnt_7__I_0_i12_3_lut_3_lut }
ble_pack PWM_cnt_7__I_0_i14_3_lut_LC_1_5_3 { PWM_cnt_7__I_0_i14_3_lut }
ble_pack i1049_3_lut_LC_1_5_4 { i1049_3_lut }
ble_pack LessThan_8_i13_2_lut_rep_50_LC_1_5_5 { LessThan_8_i13_2_lut_rep_50 }
ble_pack i2_3_lut_rep_37_LC_1_5_6 { i2_3_lut_rep_37 }
ble_pack drv_cnt_i0_i2_LC_1_5_7 { i1160_4_lut, drv_cnt_i0_i2 }
clb_pack LT_1_5 { i1921_2_lut_LC_1_5_0, drv_cnt_i0_i0_LC_1_5_1, PWM_cnt_7__I_0_i12_3_lut_3_lut_LC_1_5_2, PWM_cnt_7__I_0_i14_3_lut_LC_1_5_3, i1049_3_lut_LC_1_5_4, LessThan_8_i13_2_lut_rep_50_LC_1_5_5, i2_3_lut_rep_37_LC_1_5_6, drv_cnt_i0_i2_LC_1_5_7 }
set_location LT_1_5 1 5
ble_pack drv_clk_counter_526__i0_LC_1_6_0 { drv_clk_counter_526_add_4_2_lut, drv_clk_counter_526__i0, drv_clk_counter_526_add_4_2 }
ble_pack drv_clk_counter_526__i1_LC_1_6_1 { drv_clk_counter_526_add_4_3_lut, drv_clk_counter_526__i1, drv_clk_counter_526_add_4_3 }
ble_pack drv_clk_counter_526__i2_LC_1_6_2 { drv_clk_counter_526_add_4_4_lut, drv_clk_counter_526__i2, drv_clk_counter_526_add_4_4 }
ble_pack drv_clk_counter_526__i3_LC_1_6_3 { drv_clk_counter_526_add_4_5_lut, drv_clk_counter_526__i3, drv_clk_counter_526_add_4_5 }
ble_pack drv_clk_counter_526__i4_LC_1_6_4 { drv_clk_counter_526_add_4_6_lut, drv_clk_counter_526__i4, drv_clk_counter_526_add_4_6 }
ble_pack drv_clk_counter_526__i5_LC_1_6_5 { drv_clk_counter_526_add_4_7_lut, drv_clk_counter_526__i5, drv_clk_counter_526_add_4_7 }
ble_pack drv_clk_counter_526__i6_LC_1_6_6 { drv_clk_counter_526_add_4_8_lut, drv_clk_counter_526__i6, drv_clk_counter_526_add_4_8 }
ble_pack drv_clk_counter_526__i7_LC_1_6_7 { drv_clk_counter_526_add_4_9_lut, drv_clk_counter_526__i7, drv_clk_counter_526_add_4_9 }
clb_pack LT_1_6 { drv_clk_counter_526__i0_LC_1_6_0, drv_clk_counter_526__i1_LC_1_6_1, drv_clk_counter_526__i2_LC_1_6_2, drv_clk_counter_526__i3_LC_1_6_3, drv_clk_counter_526__i4_LC_1_6_4, drv_clk_counter_526__i5_LC_1_6_5, drv_clk_counter_526__i6_LC_1_6_6, drv_clk_counter_526__i7_LC_1_6_7 }
set_location LT_1_6 1 6
ble_pack drv_clk_counter_526__i8_LC_1_7_0 { drv_clk_counter_526_add_4_10_lut, drv_clk_counter_526__i8, drv_clk_counter_526_add_4_10 }
ble_pack drv_clk_counter_526__i9_LC_1_7_1 { drv_clk_counter_526_add_4_11_lut, drv_clk_counter_526__i9, drv_clk_counter_526_add_4_11 }
ble_pack drv_clk_counter_526__i10_LC_1_7_2 { drv_clk_counter_526_add_4_12_lut, drv_clk_counter_526__i10 }
clb_pack LT_1_7 { drv_clk_counter_526__i8_LC_1_7_0, drv_clk_counter_526__i9_LC_1_7_1, drv_clk_counter_526__i10_LC_1_7_2 }
set_location LT_1_7 1 7
ble_pack i1852_2_lut_LC_2_2_0 { i1852_2_lut }
ble_pack i1871_4_lut_LC_2_2_1 { i1871_4_lut }
ble_pack i1_2_lut_adj_21_LC_2_2_3 { i1_2_lut_adj_21 }
ble_pack i4_4_lut_LC_2_2_4 { i4_4_lut }
ble_pack i2c_cmd_0___i3_LC_2_2_6 { i2c_cmd_0___i3_THRU_LUT4_0, i2c_cmd_0___i3 }
clb_pack LT_2_2 { i1852_2_lut_LC_2_2_0, i1871_4_lut_LC_2_2_1, i1_2_lut_adj_21_LC_2_2_3, i4_4_lut_LC_2_2_4, i2c_cmd_0___i3_LC_2_2_6 }
set_location LT_2_2 2 2
ble_pack PWM_cnt_7__I_0_i10_3_lut_3_lut_LC_2_3_0 { PWM_cnt_7__I_0_i10_3_lut_3_lut }
ble_pack i30_4_lut_3_lut_LC_2_3_1 { i30_4_lut_3_lut }
ble_pack cmd_decoded_156_LC_2_3_2 { i1073_4_lut, cmd_decoded_156 }
ble_pack LessThan_8_i6_3_lut_3_lut_LC_2_3_3 { LessThan_8_i6_3_lut_3_lut }
ble_pack LessThan_8_i8_3_lut_3_lut_LC_2_3_4 { LessThan_8_i8_3_lut_3_lut }
ble_pack i1286_2_lut_LC_2_3_5 { i1286_2_lut }
ble_pack motor_on_158_LC_2_3_6 { i1079_4_lut, motor_on_158 }
ble_pack i3_4_lut_LC_2_3_7 { i3_4_lut }
clb_pack LT_2_3 { PWM_cnt_7__I_0_i10_3_lut_3_lut_LC_2_3_0, i30_4_lut_3_lut_LC_2_3_1, cmd_decoded_156_LC_2_3_2, LessThan_8_i6_3_lut_3_lut_LC_2_3_3, LessThan_8_i8_3_lut_3_lut_LC_2_3_4, i1286_2_lut_LC_2_3_5, motor_on_158_LC_2_3_6, i3_4_lut_LC_2_3_7 }
set_location LT_2_3 2 3
ble_pack i1895_3_lut_3_lut_4_lut_LC_2_4_0 { i1895_3_lut_3_lut_4_lut }
ble_pack LessThan_8_i14_3_lut_LC_2_4_1 { LessThan_8_i14_3_lut }
ble_pack LessThan_8_i4_4_lut_4_lut_LC_2_4_2 { LessThan_8_i4_4_lut_4_lut }
ble_pack LessThan_8_i10_3_lut_3_lut_LC_2_4_3 { LessThan_8_i10_3_lut_3_lut }
ble_pack LessThan_8_i12_3_lut_3_lut_LC_2_4_4 { LessThan_8_i12_3_lut_3_lut }
ble_pack LessThan_8_i16_3_lut_LC_2_4_5 { LessThan_8_i16_3_lut }
ble_pack i1_3_lut_adj_20_LC_2_4_6 { i1_3_lut_adj_20 }
ble_pack LessThan_8_i15_2_lut_rep_51_LC_2_4_7 { LessThan_8_i15_2_lut_rep_51 }
clb_pack LT_2_4 { i1895_3_lut_3_lut_4_lut_LC_2_4_0, LessThan_8_i14_3_lut_LC_2_4_1, LessThan_8_i4_4_lut_4_lut_LC_2_4_2, LessThan_8_i10_3_lut_3_lut_LC_2_4_3, LessThan_8_i12_3_lut_3_lut_LC_2_4_4, LessThan_8_i16_3_lut_LC_2_4_5, i1_3_lut_adj_20_LC_2_4_6, LessThan_8_i15_2_lut_rep_51_LC_2_4_7 }
set_location LT_2_4 2 4
ble_pack i2_4_lut_adj_9_LC_2_6_0 { i2_4_lut_adj_9 }
ble_pack i2_4_lut_adj_10_LC_2_6_1 { i2_4_lut_adj_10 }
ble_pack i248_4_lut_LC_2_6_2 { i248_4_lut }
ble_pack i1_2_lut_rep_45_LC_2_6_3 { i1_2_lut_rep_45 }
clb_pack LT_2_6 { i2_4_lut_adj_9_LC_2_6_0, i2_4_lut_adj_10_LC_2_6_1, i248_4_lut_LC_2_6_2, i1_2_lut_rep_45_LC_2_6_3 }
set_location LT_2_6 2 6
ble_pack i1_2_lut_3_lut_adj_12_LC_4_1_0 { i1_2_lut_3_lut_adj_12 }
ble_pack soft_SBADRi_i3_LC_4_1_1 { i1_4_lut_adj_16, soft_SBADRi_i3 }
ble_pack GB_BUFFER_n2981_THRU_LUT4_0_LC_4_1_3 { GB_BUFFER_n2981_THRU_LUT4_0 }
ble_pack i745_2_lut_rep_42_4_lut_LC_4_1_6 { i745_2_lut_rep_42_4_lut }
ble_pack hard_SBWRi_147_LC_4_1_7 { mux_387_i1_4_lut, hard_SBWRi_147 }
clb_pack LT_4_1 { i1_2_lut_3_lut_adj_12_LC_4_1_0, soft_SBADRi_i3_LC_4_1_1, GB_BUFFER_n2981_THRU_LUT4_0_LC_4_1_3, i745_2_lut_rep_42_4_lut_LC_4_1_6, hard_SBWRi_147_LC_4_1_7 }
set_location LT_4_1 4 1
ble_pack soft_SBADRi_i0_LC_4_2_0 { i1_4_lut_adj_22, soft_SBADRi_i0 }
ble_pack i1256_2_lut_rep_53_LC_4_2_1 { i1256_2_lut_rep_53 }
ble_pack i28_4_lut_LC_4_2_2 { i28_4_lut }
ble_pack soft_SBADRi_i2_LC_4_2_3 { i1_4_lut_adj_15, soft_SBADRi_i2 }
ble_pack i29_3_lut_4_lut_LC_4_2_4 { i29_3_lut_4_lut }
ble_pack hard_SBDATi_i4_LC_4_2_5 { i1_4_lut_adj_19, hard_SBDATi_i4 }
ble_pack i28_4_lut_4_lut_LC_4_2_6 { i28_4_lut_4_lut }
ble_pack hard_SBDATi_i2_LC_4_2_7 { i1_4_lut_adj_18, hard_SBDATi_i2 }
clb_pack LT_4_2 { soft_SBADRi_i0_LC_4_2_0, i1256_2_lut_rep_53_LC_4_2_1, i28_4_lut_LC_4_2_2, soft_SBADRi_i2_LC_4_2_3, i29_3_lut_4_lut_LC_4_2_4, hard_SBDATi_i4_LC_4_2_5, i28_4_lut_4_lut_LC_4_2_6, hard_SBDATi_i2_LC_4_2_7 }
set_location LT_4_2 4 2
ble_pack i1923_2_lut_rep_41_4_lut_LC_4_3_1 { i1923_2_lut_rep_41_4_lut }
ble_pack i1_3_lut_4_lut_LC_4_3_3 { i1_3_lut_4_lut }
ble_pack i1241_2_lut_rep_54_LC_4_3_5 { i1241_2_lut_rep_54 }
clb_pack LT_4_3 { i1923_2_lut_rep_41_4_lut_LC_4_3_1, i1_3_lut_4_lut_LC_4_3_3, i1241_2_lut_rep_54_LC_4_3_5 }
set_location LT_4_3 4 3
ble_pack i2c_steps_i3_LC_4_4_0 { i1_2_lut_3_lut, i2c_steps_i3 }
clb_pack LT_4_4 { i2c_steps_i3_LC_4_4_0 }
set_location LT_4_4 4 4
ble_pack i2c_cnt_523_524__i2_LC_5_1_0 { i2c_cnt_523_524_mux_7_i2_4_lut_3_lut, i2c_cnt_523_524__i2 }
ble_pack equal_587_i3_2_lut_rep_56_LC_5_1_1 { equal_587_i3_2_lut_rep_56 }
ble_pack i36_4_lut_LC_5_1_2 { i36_4_lut }
ble_pack i2c_cnt_523_524__i1_LC_5_1_3 { i2c_cnt_523_524_mux_7_i1_3_lut, i2c_cnt_523_524__i1 }
ble_pack i1279_2_lut_3_lut_LC_5_1_4 { i1279_2_lut_3_lut }
ble_pack i2_3_lut_rep_52_LC_5_1_6 { i2_3_lut_rep_52 }
ble_pack hard_SBSTBi_148_LC_5_1_7 { i746_3_lut_4_lut, hard_SBSTBi_148 }
clb_pack LT_5_1 { i2c_cnt_523_524__i2_LC_5_1_0, equal_587_i3_2_lut_rep_56_LC_5_1_1, i36_4_lut_LC_5_1_2, i2c_cnt_523_524__i1_LC_5_1_3, i1279_2_lut_3_lut_LC_5_1_4, i2_3_lut_rep_52_LC_5_1_6, hard_SBSTBi_148_LC_5_1_7 }
set_location LT_5_1 5 1
ble_pack i1_4_lut_adj_13_LC_5_2_0 { i1_4_lut_adj_13 }
ble_pack i1_4_lut_4_lut_LC_5_2_1 { i1_4_lut_4_lut }
ble_pack i2c_steps_i2_LC_5_2_2 { i847_4_lut, i2c_steps_i2 }
ble_pack i1240_2_lut_LC_5_2_3 { i1240_2_lut }
ble_pack i1_3_lut_LC_5_2_4 { i1_3_lut }
ble_pack i2c_steps_i1_LC_5_2_5 { i856_4_lut, i2c_steps_i1 }
ble_pack i2_3_lut_adj_17_LC_5_2_6 { i2_3_lut_adj_17 }
ble_pack i1_2_lut_3_lut_4_lut_LC_5_2_7 { i1_2_lut_3_lut_4_lut }
clb_pack LT_5_2 { i1_4_lut_adj_13_LC_5_2_0, i1_4_lut_4_lut_LC_5_2_1, i2c_steps_i2_LC_5_2_2, i1240_2_lut_LC_5_2_3, i1_3_lut_LC_5_2_4, i2c_steps_i1_LC_5_2_5, i2_3_lut_adj_17_LC_5_2_6, i1_2_lut_3_lut_4_lut_LC_5_2_7 }
set_location LT_5_2 5 2
ble_pack i29_4_lut_4_lut_LC_5_3_0 { i29_4_lut_4_lut }
ble_pack i1_4_lut_adj_14_LC_5_3_1 { i1_4_lut_adj_14 }
ble_pack soft_SBADRi_i1_LC_5_3_2 { i2_3_lut_4_lut, soft_SBADRi_i1 }
ble_pack i1_4_lut_LC_5_3_3 { i1_4_lut }
ble_pack i29_3_lut_4_lut_adj_1_LC_5_3_4 { i29_3_lut_4_lut_adj_1 }
ble_pack hard_SBDATi_i7_LC_5_3_5 { i1_4_lut_adj_23, hard_SBDATi_i7 }
ble_pack i2_3_lut_rep_43_LC_5_3_6 { i2_3_lut_rep_43 }
ble_pack i1_2_lut_3_lut_4_lut_adj_4_LC_5_3_7 { i1_2_lut_3_lut_4_lut_adj_4 }
clb_pack LT_5_3 { i29_4_lut_4_lut_LC_5_3_0, i1_4_lut_adj_14_LC_5_3_1, soft_SBADRi_i1_LC_5_3_2, i1_4_lut_LC_5_3_3, i29_3_lut_4_lut_adj_1_LC_5_3_4, hard_SBDATi_i7_LC_5_3_5, i2_3_lut_rep_43_LC_5_3_6, i1_2_lut_3_lut_4_lut_adj_4_LC_5_3_7 }
set_location LT_5_3 5 3
ble_pack i1_2_lut_rep_38_3_lut_LC_5_4_0 { i1_2_lut_rep_38_3_lut }
ble_pack i1844_2_lut_rep_55_LC_5_4_4 { i1844_2_lut_rep_55 }
ble_pack i1_2_lut_rep_44_LC_5_4_7 { i1_2_lut_rep_44 }
clb_pack LT_5_4 { i1_2_lut_rep_38_3_lut_LC_5_4_0, i1844_2_lut_rep_55_LC_5_4_4, i1_2_lut_rep_44_LC_5_4_7 }
set_location LT_5_4 5 4
ble_pack mux_55_i7_3_lut_LC_6_1_0 { mux_55_i7_3_lut }
ble_pack i2c_stat_i6_LC_6_1_1 { i1918_4_lut, i2c_stat_i6 }
ble_pack i1293_3_lut_4_lut_LC_6_1_2 { i1293_3_lut_4_lut }
ble_pack i58_4_lut_LC_6_1_3 { i58_4_lut }
ble_pack i2_3_lut_LC_6_1_4 { i2_3_lut }
clb_pack LT_6_1 { mux_55_i7_3_lut_LC_6_1_0, i2c_stat_i6_LC_6_1_1, i1293_3_lut_4_lut_LC_6_1_2, i58_4_lut_LC_6_1_3, i2_3_lut_LC_6_1_4 }
set_location LT_6_1 6 1
ble_pack mux_55_i3_3_lut_LC_6_2_0 { mux_55_i3_3_lut }
ble_pack i1863_4_lut_LC_6_2_1 { i1863_4_lut }
ble_pack i2_3_lut_adj_7_LC_6_2_2 { i2_3_lut_adj_7 }
ble_pack i60_3_lut_LC_6_2_3 { i60_3_lut }
ble_pack i1_4_lut_adj_2_LC_6_2_4 { i1_4_lut_adj_2 }
ble_pack i2c_steps_i0_LC_6_2_5 { i1_4_lut_adj_3, i2c_steps_i0 }
ble_pack i1_2_lut_rep_40_3_lut_LC_6_2_6 { i1_2_lut_rep_40_3_lut }
ble_pack i2c_stat_i2_LC_6_2_7 { i1916_4_lut, i2c_stat_i2 }
clb_pack LT_6_2 { mux_55_i3_3_lut_LC_6_2_0, i1863_4_lut_LC_6_2_1, i2_3_lut_adj_7_LC_6_2_2, i60_3_lut_LC_6_2_3, i1_4_lut_adj_2_LC_6_2_4, i2c_steps_i0_LC_6_2_5, i1_2_lut_rep_40_3_lut_LC_6_2_6, i2c_stat_i2_LC_6_2_7 }
set_location LT_6_2 6 2
ble_pack i1_2_lut_rep_46_LC_6_3_0 { i1_2_lut_rep_46 }
ble_pack i1_2_lut_rep_39_4_lut_LC_6_3_1 { i1_2_lut_rep_39_4_lut }
ble_pack i1_3_lut_4_lut_adj_5_LC_6_3_2 { i1_3_lut_4_lut_adj_5 }
ble_pack i2_2_lut_3_lut_LC_6_3_3 { i2_2_lut_3_lut }
clb_pack LT_6_3 { i1_2_lut_rep_46_LC_6_3_0, i1_2_lut_rep_39_4_lut_LC_6_3_1, i1_3_lut_4_lut_adj_5_LC_6_3_2, i2_2_lut_3_lut_LC_6_3_3 }
set_location LT_6_3 6 3
ble_pack i2c_cmd_cnt_525__i1_LC_6_4_2 { i1536_2_lut, i2c_cmd_cnt_525__i1 }
ble_pack i2c_cmd_cnt_525__i0_LC_6_4_3 { i627_1_lut, i2c_cmd_cnt_525__i0 }
ble_pack i2c_cmd_cnt_525__i2_LC_6_4_5 { i1543_3_lut, i2c_cmd_cnt_525__i2 }
clb_pack LT_6_4 { i2c_cmd_cnt_525__i1_LC_6_4_2, i2c_cmd_cnt_525__i0_LC_6_4_3, i2c_cmd_cnt_525__i2_LC_6_4_5 }
set_location LT_6_4 6 4
set_location sysclk_GB 6 0
set_io io_i2c_sda A2
set_io io_i2c_scl A1
