set_location IN_MUX_bfv_2_6_0_ 2 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_7_0_ 2 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_0_5_0_ 0 5 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 1 3 2 #SB_LUT4
set_location GB_BUFFER_n3456_THRU_LUT4_0 4 1 5 #SB_LUT4
set_location i2c_cmd_0___i9_THRU_LUT4_0 2 3 7 #SB_LUT4
set_location i2c_cmd_0___i8_THRU_LUT4_0 5 3 4 #SB_LUT4
set_location i2c_cmd_0___i7_THRU_LUT4_0 5 3 6 #SB_LUT4
set_location i2c_cmd_0___i6_THRU_LUT4_0 5 3 7 #SB_LUT4
set_location i2c_cmd_0___i5_THRU_LUT4_0 4 3 5 #SB_LUT4
set_location i2c_cmd_0___i4_THRU_LUT4_0 4 3 4 #SB_LUT4
set_location i2c_cmd_0___i3_THRU_LUT4_0 5 3 2 #SB_LUT4
set_location i2c_cmd_0___i2_THRU_LUT4_0 4 3 2 #SB_LUT4
set_location i2c_cmd_0___i16_THRU_LUT4_0 2 3 6 #SB_LUT4
set_location i2c_cmd_0___i15_THRU_LUT4_0 2 3 5 #SB_LUT4
set_location i2c_cmd_0___i14_THRU_LUT4_0 2 3 4 #SB_LUT4
set_location i2c_cmd_0___i13_THRU_LUT4_0 2 3 3 #SB_LUT4
set_location i2c_cmd_0___i12_THRU_LUT4_0 2 3 2 #SB_LUT4
set_location i2c_cmd_0___i11_THRU_LUT4_0 2 3 1 #SB_LUT4
set_location i2c_cmd_0___i10_THRU_LUT4_0 2 3 0 #SB_LUT4
set_location i2c_cmd_0___i1_THRU_LUT4_0 5 3 3 #SB_LUT4
set_location PWM_duty_i0_i7_THRU_LUT4_0 2 4 4 #SB_LUT4
set_location PWM_duty_i0_i6_THRU_LUT4_0 0 4 2 #SB_LUT4
set_location PWM_duty_i0_i5_THRU_LUT4_0 0 6 1 #SB_LUT4
set_location PWM_duty_i0_i4_THRU_LUT4_0 2 4 3 #SB_LUT4
set_location PWM_duty_i0_i3_THRU_LUT4_0 2 4 2 #SB_LUT4
set_location PWM_duty_i0_i2_THRU_LUT4_0 2 4 1 #SB_LUT4
set_location PWM_duty_i0_i1_THRU_LUT4_0 2 4 7 #SB_LUT4
set_location PWM_duty_i0_i0_THRU_LUT4_0 2 4 0 #SB_LUT4
set_location PWM_cnt__i5 0 5 5 #SB_DFFESR
set_location add_206_6_lut 0 5 4 #SB_LUT4
set_location i1_2_lut_rep_53 7 2 2 #SB_LUT4
set_location PWM_G_157 0 7 3 #SB_DFFESR
set_location PWM_B_156 1 7 2 #SB_DFFE
set_location i1669_4_lut 7 3 7 #SB_LUT4
set_location PWM_cnt__i0 0 5 0 #SB_DFFESR
set_location motor_dir_bdd_4_lut_2380 2 5 6 #SB_LUT4
set_location i1_2_lut_3_lut 6 4 2 #SB_LUT4
set_location soft_SBADRi_i0 4 2 5 #SB_DFF
set_location i2c_cmd_0___i2 4 3 2 #SB_DFFE
set_location i1_2_lut_rep_42_3_lut 6 3 0 #SB_LUT4
set_location i1_2_lut_adj_8 6 3 4 #SB_LUT4
set_location i2c_cmd_cnt_601__i1 6 5 2 #SB_DFFESR
set_location i1_4_lut_adj_22 1 2 6 #SB_LUT4
set_location drv_clk_counter_602__i1 2 6 1 #SB_DFFSR
set_location PWM_cnt_7__I_0_i10_3_lut_3_lut 1 4 5 #SB_LUT4
set_location i2_4_lut_adj_25 1 6 1 #SB_LUT4
set_location i1_2_lut_3_lut_adj_13 7 3 1 #SB_LUT4
set_location drv_clk_counter_602_add_4_11_lut 2 7 1 #SB_LUT4
set_location PWM_duty_i0_i7 2 4 4 #SB_DFFE
set_location PWM_cnt_7__I_0_i4_4_lut_4_lut 1 5 1 #SB_LUT4
set_location i2c_cmd_0___i7 5 3 6 #SB_DFFE
set_location drv_clk_counter_602_add_4_7_lut 2 6 5 #SB_LUT4
set_location LessThan_8_i10_3_lut_3_lut 0 4 3 #SB_LUT4
set_location i2c_steps_i3 5 2 4 #SB_DFFSR
set_location i2_3_lut_rep_54 6 4 0 #SB_LUT4
set_location i1_4_lut_adj_11 5 1 7 #SB_LUT4
set_location i1_4_lut_4_lut_4_lut 4 2 3 #SB_LUT4
set_location i1_3_lut 0 4 7 #SB_LUT4
set_location drv_clk_counter_602__i6 2 6 6 #SB_DFFSR
set_location LessThan_8_i16_4_lut 0 4 6 #SB_LUT4
set_location n3380_bdd_4_lut 2 5 1 #SB_LUT4
set_location motor_dir_173 4 5 3 #SB_DFF
set_location i2c_cmd_0___i11 2 3 1 #SB_DFFE
set_location i2_4_lut_adj_19 1 5 5 #SB_LUT4
set_location drv_clk_counter_602_add_4_4 2 6 2 #SB_CARRY
set_location PWM_duty_i0_i2 2 4 1 #SB_DFFE
set_location PWM_R_158 0 7 0 #SB_DFFESR
set_location i1471_1_lut 1 8 0 #SB_LUT4
set_location i34_4_lut 5 4 3 #SB_LUT4
set_location hard_SBWRi_161 4 1 4 #SB_DFF
set_location i36_4_lut_adj_5 7 2 4 #SB_LUT4
set_location PWM_cnt__i7 0 5 7 #SB_DFFESR
set_location drv_cnt_i0_i1 2 5 7 #SB_DFFE
set_location add_206_9_lut 0 5 7 #SB_LUT4
set_location i1_3_lut_rep_37_4_lut_4_lut 1 6 4 #SB_LUT4
set_location i1_2_lut_rep_55 1 6 6 #SB_LUT4
set_location i1591_4_lut 1 6 2 #SB_LUT4
set_location drv_clk_counter_602_add_4_2_lut 2 6 0 #SB_LUT4
set_location n3374_bdd_4_lut 2 5 7 #SB_LUT4
set_location i2c_cmd_cnt_601__i2 6 5 4 #SB_DFFESR
set_location i1461_4_lut 2 5 3 #SB_LUT4
set_location PWM_cnt__i2 0 5 2 #SB_DFFESR
set_location i36_4_lut 5 4 2 #SB_LUT4
set_location i1_2_lut_3_lut_adj_1 4 4 4 #SB_LUT4
set_location add_206_4 0 5 2 #SB_CARRY
set_location PWM_cnt_7__I_0_i15_2_lut_rep_57 1 5 4 #SB_LUT4
set_location i2c_cmd_0___i4 4 3 4 #SB_DFFE
set_location i2315_3_lut 6 2 1 #SB_LUT4
set_location i1684_4_lut 4 1 3 #SB_LUT4
set_location motor_on_172 4 4 1 #SB_DFF
set_location i2_4_lut 1 7 2 #SB_LUT4
set_location i1116_2_lut_3_lut_4_lut 6 4 1 #SB_LUT4
set_location hard_SBDATi_i7 1 2 6 #SB_DFF
set_location drv_clk_counter_602__i3 2 6 3 #SB_DFFSR
set_location i2c_cmd_0___i14 2 3 4 #SB_DFFE
set_location i2366_2_lut_rep_40 1 6 3 #SB_LUT4
set_location drv_clk_counter_602_add_4_3 2 6 1 #SB_CARRY
set_location add_206_3 0 5 1 #SB_CARRY
set_location PWM_duty_i0_i1 2 4 7 #SB_DFFE
set_location LessThan_8_i4_4_lut_4_lut 1 5 3 #SB_LUT4
set_location i2c_cmd_0___i9 2 3 7 #SB_DFFE
set_location i2_2_lut_3_lut 4 4 6 #SB_LUT4
set_location i2311_2_lut 5 4 6 #SB_LUT4
set_location drv_clk_counter_602_add_4_9_lut 2 6 7 #SB_LUT4
set_location PWM_cnt_7__I_0_i9_2_lut_rep_58 1 3 0 #SB_LUT4
set_location LessThan_8_i7_2_lut_rep_51 1 3 4 #SB_LUT4
set_location i2c_steps_i1 7 2 0 #SB_DFF
set_location i2c_stat_i2 6 2 1 #SB_DFF
set_location i2333_2_lut 1 4 1 #SB_LUT4
set_location i1_2_lut_rep_44 5 4 4 #SB_LUT4
set_location hard_SBDATi_i2 5 1 3 #SB_DFF
set_location drv_clk_counter_602__i8 2 7 0 #SB_DFFSR
set_location i2c_cnt_599_600__i2 7 3 5 #SB_DFF
set_location i2c_cmd_0___i13 2 3 3 #SB_DFFE
set_location i1873_3_lut 4 5 3 #SB_LUT4
set_location drv_clk_counter_602_add_4_6 2 6 4 #SB_CARRY
set_location drv_clk_counter_602_add_4_10 2 7 0 #SB_CARRY
set_location i1_2_lut_2_lut_3_lut_4_lut 6 2 6 #SB_LUT4
set_location i3_4_lut 5 4 5 #SB_LUT4
set_location i1_4_lut_adj_16 4 1 2 #SB_LUT4
set_location i1872_4_lut 4 5 2 #SB_LUT4
set_location equal_669_i3_2_lut_rep_56 7 2 3 #SB_LUT4
set_location motor_dir_bdd_4_lut 2 5 0 #SB_LUT4
set_location i1_2_lut_rep_48 4 2 6 #SB_LUT4
set_location drv_clk_counter_602_add_4_5_lut 2 6 3 #SB_LUT4
set_location drv_clk_counter_602__i4 2 6 4 #SB_DFFSR
set_location i38_3_lut 5 1 4 #SB_LUT4
set_location i2369_2_lut 1 5 2 #SB_LUT4
set_location i2317_3_lut 6 2 3 #SB_LUT4
set_location i1_2_lut_rep_43_3_lut 6 4 6 #SB_LUT4
set_location drv_clk_counter_602_add_4_4_lut 2 6 2 #SB_LUT4
set_location drv_clk_counter_602_add_4_2 2 6 0 #SB_CARRY
set_location add_206_2_lut 0 5 0 #SB_LUT4
set_location add_206_2 0 5 0 #SB_CARRY
set_location PWM_duty_i0_i0 2 4 0 #SB_DFFE
set_location PWM_cnt__i1 0 5 1 #SB_DFFESR
set_location PWM_cnt_7__I_0_i8_3_lut_3_lut 1 4 4 #SB_LUT4
set_location LessThan_8_i12_3_lut_3_lut 0 4 4 #SB_LUT4
set_location i2_3_lut_4_lut 6 4 5 #SB_LUT4
set_location i1_2_lut_adj_24 1 6 5 #SB_LUT4
set_location add_206_5_lut 0 5 3 #SB_LUT4
set_location LessThan_8_i8_3_lut_3_lut 1 3 6 #SB_LUT4
set_location soft_SBADRi_i3 4 1 2 #SB_DFF
set_location i2c_cmd_0___i1 5 3 3 #SB_DFFE
set_location i2371_2_lut_2_lut_4_lut_4_lut 1 5 7 #SB_LUT4
set_location i1_4_lut_adj_12 6 3 2 #SB_LUT4
set_location i1533_2_lut_rep_49 5 1 5 #SB_LUT4
set_location drv_clk_counter_602_add_4_3_lut 2 6 1 #SB_LUT4
set_location drv_clk_counter_602__i9 2 7 1 #SB_DFFSR
set_location i2c_cmd_cnt_601__i0 6 5 3 #SB_DFFESR
set_location i2c_cmd_0___i12 2 3 2 #SB_DFFE
set_location i28_4_lut 6 3 1 #SB_LUT4
set_location i1_4_lut_adj_21 4 1 7 #SB_LUT4
set_location i1851_3_lut_3_lut 1 4 7 #SB_LUT4
set_location drv_clk_counter_602_add_4_9 2 6 7 #SB_CARRY
set_location drv_clk_counter_602_add_4_11 2 7 1 #SB_CARRY
set_location drv_clk_counter_602__i0 2 6 0 #SB_DFFSR
set_location i1_3_lut_adj_9 5 2 4 #SB_LUT4
set_location i1_2_lut_3_lut_adj_14 1 6 0 #SB_LUT4
set_location i1476_3_lut 0 7 3 #SB_LUT4
set_location i1472_3_lut 0 7 0 #SB_LUT4
set_location hard_SBSTBi_162 4 2 3 #SB_DFF
set_location add_206_6 0 5 4 #SB_CARRY
set_location PWM_duty_i0_i4 2 4 3 #SB_DFFE
set_location i9_3_lut_4_lut_4_lut 2 5 5 #SB_LUT4
set_location i2c_cmd_0___i6 5 3 7 #SB_DFFE
set_location GND -1 -1 -1 #GND
set_location PWM_cnt_7__I_0_i12_3_lut 1 4 6 #SB_LUT4
set_location i2c_steps_i2 6 3 7 #SB_DFF
set_location i25_3_lut_4_lut 1 2 5 #SB_LUT4
set_location i1_4_lut_adj_6 7 2 5 #SB_LUT4
set_location i1935_2_lut 6 5 2 #SB_LUT4
set_location drv_clk_counter_602__i5 2 6 5 #SB_DFFSR
set_location i2c_cmd_0___i16 2 3 6 #SB_DFFE
set_location i2_4_lut_adj_18 1 6 7 #SB_LUT4
set_location i12_4_lut 4 1 4 #SB_LUT4
set_location drv_clk_counter_602_add_4_5 2 6 3 #SB_CARRY
set_location PWM_duty_i0_i3 2 4 2 #SB_DFFE
set_location i2c_cnt_599_600_mux_7_i2_4_lut_3_lut 7 3 5 #SB_LUT4
set_location i29_3_lut_4_lut 4 1 6 #SB_LUT4
set_location i2c_cnt_599_600_mux_7_i1_3_lut_4_lut 7 3 0 #SB_LUT4
set_location i1_4_lut_adj_15 4 1 1 #SB_LUT4
set_location LessThan_8_i6_3_lut_3_lut 1 3 5 #SB_LUT4
set_location i1733_4_lut 6 3 7 #SB_LUT4
set_location i12_3_lut_rep_39_3_lut 2 5 4 #SB_LUT4
set_location drv_clk_counter_602_add_4_8 2 6 6 #SB_CARRY
set_location PWM_cnt_7__I_0_i6_3_lut_3_lut 1 4 3 #SB_LUT4
set_location i3_4_lut_adj_23 5 4 7 #SB_LUT4
set_location i1726_4_lut 5 1 2 #SB_LUT4
set_location PWM_cnt__i4 0 5 4 #SB_DFFESR
set_location i2316_3_lut_4_lut 6 2 0 #SB_LUT4
set_location i1_2_lut_3_lut_adj_7 4 4 0 #SB_LUT4
set_location i1456_3_lut_3_lut_4_lut_4_lut 2 5 2 #SB_LUT4
set_location drv_cnt_i0_i0 1 8 0 #SB_DFFE
set_location i2343_2_lut_3_lut 0 4 1 #SB_LUT4
set_location add_206_7_lut 0 5 5 #SB_LUT4
set_location PWM_cnt__i3 0 5 3 #SB_DFFESR
set_location i2320_2_lut 4 2 0 #SB_LUT4
set_location i1968_4_lut 6 3 6 #SB_LUT4
set_location add_206_8_lut 0 5 6 #SB_LUT4
set_location add_206_5 0 5 3 #SB_CARRY
set_location soft_SBADRi_i1 5 1 7 #SB_DFF
set_location i2c_cmd_0___i3 5 3 2 #SB_DFFE
set_location i1_2_lut_rep_59 6 4 7 #SB_LUT4
set_location drv_clk_counter_602_add_4_8_lut 2 6 6 #SB_LUT4
set_location i2302_4_lut_4_lut 5 4 1 #SB_LUT4
set_location i1_2_lut_rep_41_3_lut_4_lut 4 2 4 #SB_LUT4
set_location i1555_2_lut_rep_50 6 2 5 #SB_LUT4
set_location hard_SBDATi_i4 4 1 7 #SB_DFF
set_location drv_clk_counter_602__i2 2 6 2 #SB_DFFSR
set_location add_206_4_lut 0 5 2 #SB_LUT4
set_location i2c_cmd_0___i15 2 3 5 #SB_DFFE
set_location PWM_duty_i0_i6 0 4 2 #SB_DFFE
set_location i2c_cmd_0___i8 5 3 4 #SB_DFFE
set_location i1_2_lut_adj_2 7 2 6 #SB_LUT4
set_location i1881_4_lut 4 4 1 #SB_LUT4
set_location i2c_steps_i0 7 3 3 #SB_DFF
set_location i2_4_lut_adj_3 7 3 2 #SB_LUT4
set_location i2356_4_lut 0 4 0 #SB_LUT4
set_location i2318_2_lut_rep_45_3_lut 4 2 2 #SB_LUT4
set_location i1_4_lut_adj_10 5 1 6 #SB_LUT4
set_location i1942_3_lut 6 5 4 #SB_LUT4
set_location i1933_1_lut 6 5 3 #SB_LUT4
set_location i1677_4_lut 7 3 3 #SB_LUT4
set_location drv_clk_counter_602__i7 2 6 7 #SB_DFFSR
set_location add_206_3_lut 0 5 1 #SB_LUT4
set_location i2c_cnt_599_600__i1 7 3 0 #SB_DFF
set_location i2c_cmd_0___i10 2 3 0 #SB_DFFE
set_location i1_4_lut 4 2 5 #SB_LUT4
set_location drv_clk_counter_602_add_4_7 2 6 5 #SB_CARRY
set_location drv_clk_counter_602_add_4_12_lut 2 7 2 #SB_LUT4
set_location i1_2_lut_rep_38_2_lut_4_lut_4_lut 1 5 0 #SB_LUT4
set_location i2c_stat_i6 6 2 3 #SB_DFF
set_location i1_4_lut_adj_17 5 1 3 #SB_LUT4
set_location i1_3_lut_adj_4 7 2 7 #SB_LUT4
set_location i2345_2_lut_2_lut_3_lut_4_lut 0 6 0 #SB_LUT4
set_location drv_clk_counter_602_add_4_10_lut 2 7 0 #SB_LUT4
set_location drv_clk_counter_602_add_4_6_lut 2 6 4 #SB_LUT4
set_location PWM_cnt__i6 0 5 6 #SB_DFFESR
set_location drv_cnt_i0_i2 2 5 1 #SB_DFFE
set_location add_206_8 0 5 6 #SB_CARRY
set_location soft_SBADRi_i2 6 3 2 #SB_DFF
set_location i1_2_lut 4 1 0 #SB_LUT4
set_location i1741_4_lut 7 2 0 #SB_LUT4
set_location i2323_3_lut 7 3 6 #SB_LUT4
set_location i1_4_lut_adj_20 1 5 6 #SB_LUT4
set_location cmd_decoded_170 5 4 3 #SB_DFF
set_location i277_2_lut 7 2 1 #SB_LUT4
set_location i1_2_lut_3_lut_4_lut 6 3 5 #SB_LUT4
set_location add_206_7 0 5 5 #SB_CARRY
set_location PWM_duty_i0_i5 0 6 1 #SB_DFFE
set_location LessThan_8_i14_4_lut 0 4 5 #SB_LUT4
set_location i2c_cmd_0___i5 4 3 5 #SB_DFFE
set_location i1_2_lut_rep_46_4_lut 6 4 4 #SB_LUT4
set_location drv_clk_counter_602__i10 2 7 2 #SB_DFFSR
set_location PWM_cnt_7__I_0_i11_2_lut_rep_52 0 6 2 #SB_LUT4
set_io io_i2c_sda A2
set_io io_i2c_scl A1
