ble_pack i2356_4_lut_LC_0_4_0 { i2356_4_lut }
ble_pack i2343_2_lut_3_lut_LC_0_4_1 { i2343_2_lut_3_lut }
ble_pack PWM_duty_i0_i6_LC_0_4_2 { PWM_duty_i0_i6_THRU_LUT4_0, PWM_duty_i0_i6 }
ble_pack LessThan_8_i10_3_lut_3_lut_LC_0_4_3 { LessThan_8_i10_3_lut_3_lut }
ble_pack LessThan_8_i12_3_lut_3_lut_LC_0_4_4 { LessThan_8_i12_3_lut_3_lut }
ble_pack LessThan_8_i14_4_lut_LC_0_4_5 { LessThan_8_i14_4_lut }
ble_pack LessThan_8_i16_4_lut_LC_0_4_6 { LessThan_8_i16_4_lut }
ble_pack i1_3_lut_LC_0_4_7 { i1_3_lut }
clb_pack LT_0_4 { i2356_4_lut_LC_0_4_0, i2343_2_lut_3_lut_LC_0_4_1, PWM_duty_i0_i6_LC_0_4_2, LessThan_8_i10_3_lut_3_lut_LC_0_4_3, LessThan_8_i12_3_lut_3_lut_LC_0_4_4, LessThan_8_i14_4_lut_LC_0_4_5, LessThan_8_i16_4_lut_LC_0_4_6, i1_3_lut_LC_0_4_7 }
set_location LT_0_4 0 4
ble_pack PWM_cnt__i0_LC_0_5_0 { add_206_2_lut, PWM_cnt__i0, add_206_2 }
ble_pack PWM_cnt__i1_LC_0_5_1 { add_206_3_lut, PWM_cnt__i1, add_206_3 }
ble_pack PWM_cnt__i2_LC_0_5_2 { add_206_4_lut, PWM_cnt__i2, add_206_4 }
ble_pack PWM_cnt__i3_LC_0_5_3 { add_206_5_lut, PWM_cnt__i3, add_206_5 }
ble_pack PWM_cnt__i4_LC_0_5_4 { add_206_6_lut, PWM_cnt__i4, add_206_6 }
ble_pack PWM_cnt__i5_LC_0_5_5 { add_206_7_lut, PWM_cnt__i5, add_206_7 }
ble_pack PWM_cnt__i6_LC_0_5_6 { add_206_8_lut, PWM_cnt__i6, add_206_8 }
ble_pack PWM_cnt__i7_LC_0_5_7 { add_206_9_lut, PWM_cnt__i7 }
clb_pack LT_0_5 { PWM_cnt__i0_LC_0_5_0, PWM_cnt__i1_LC_0_5_1, PWM_cnt__i2_LC_0_5_2, PWM_cnt__i3_LC_0_5_3, PWM_cnt__i4_LC_0_5_4, PWM_cnt__i5_LC_0_5_5, PWM_cnt__i6_LC_0_5_6, PWM_cnt__i7_LC_0_5_7 }
set_location LT_0_5 0 5
ble_pack i2345_2_lut_2_lut_3_lut_4_lut_LC_0_6_0 { i2345_2_lut_2_lut_3_lut_4_lut }
ble_pack PWM_duty_i0_i5_LC_0_6_1 { PWM_duty_i0_i5_THRU_LUT4_0, PWM_duty_i0_i5 }
ble_pack PWM_cnt_7__I_0_i11_2_lut_rep_52_LC_0_6_2 { PWM_cnt_7__I_0_i11_2_lut_rep_52 }
clb_pack LT_0_6 { i2345_2_lut_2_lut_3_lut_4_lut_LC_0_6_0, PWM_duty_i0_i5_LC_0_6_1, PWM_cnt_7__I_0_i11_2_lut_rep_52_LC_0_6_2 }
set_location LT_0_6 0 6
ble_pack PWM_R_158_LC_0_7_0 { i1472_3_lut, PWM_R_158 }
ble_pack PWM_G_157_LC_0_7_3 { i1476_3_lut, PWM_G_157 }
clb_pack LT_0_7 { PWM_R_158_LC_0_7_0, PWM_G_157_LC_0_7_3 }
set_location LT_0_7 0 7
ble_pack i25_3_lut_4_lut_LC_1_2_5 { i25_3_lut_4_lut }
ble_pack hard_SBDATi_i7_LC_1_2_6 { i1_4_lut_adj_22, hard_SBDATi_i7 }
clb_pack LT_1_2 { i25_3_lut_4_lut_LC_1_2_5, hard_SBDATi_i7_LC_1_2_6 }
set_location LT_1_2 1 2
ble_pack PWM_cnt_7__I_0_i9_2_lut_rep_58_LC_1_3_0 { PWM_cnt_7__I_0_i9_2_lut_rep_58 }
ble_pack CONSTANT_ONE_LUT4_LC_1_3_2 { CONSTANT_ONE_LUT4 }
ble_pack LessThan_8_i7_2_lut_rep_51_LC_1_3_4 { LessThan_8_i7_2_lut_rep_51 }
ble_pack LessThan_8_i6_3_lut_3_lut_LC_1_3_5 { LessThan_8_i6_3_lut_3_lut }
ble_pack LessThan_8_i8_3_lut_3_lut_LC_1_3_6 { LessThan_8_i8_3_lut_3_lut }
clb_pack LT_1_3 { PWM_cnt_7__I_0_i9_2_lut_rep_58_LC_1_3_0, CONSTANT_ONE_LUT4_LC_1_3_2, LessThan_8_i7_2_lut_rep_51_LC_1_3_4, LessThan_8_i6_3_lut_3_lut_LC_1_3_5, LessThan_8_i8_3_lut_3_lut_LC_1_3_6 }
set_location LT_1_3 1 3
ble_pack i2333_2_lut_LC_1_4_1 { i2333_2_lut }
ble_pack PWM_cnt_7__I_0_i6_3_lut_3_lut_LC_1_4_3 { PWM_cnt_7__I_0_i6_3_lut_3_lut }
ble_pack PWM_cnt_7__I_0_i8_3_lut_3_lut_LC_1_4_4 { PWM_cnt_7__I_0_i8_3_lut_3_lut }
ble_pack PWM_cnt_7__I_0_i10_3_lut_3_lut_LC_1_4_5 { PWM_cnt_7__I_0_i10_3_lut_3_lut }
ble_pack PWM_cnt_7__I_0_i12_3_lut_LC_1_4_6 { PWM_cnt_7__I_0_i12_3_lut }
ble_pack i1851_3_lut_3_lut_LC_1_4_7 { i1851_3_lut_3_lut }
clb_pack LT_1_4 { i2333_2_lut_LC_1_4_1, PWM_cnt_7__I_0_i6_3_lut_3_lut_LC_1_4_3, PWM_cnt_7__I_0_i8_3_lut_3_lut_LC_1_4_4, PWM_cnt_7__I_0_i10_3_lut_3_lut_LC_1_4_5, PWM_cnt_7__I_0_i12_3_lut_LC_1_4_6, i1851_3_lut_3_lut_LC_1_4_7 }
set_location LT_1_4 1 4
ble_pack i1_2_lut_rep_38_2_lut_4_lut_4_lut_LC_1_5_0 { i1_2_lut_rep_38_2_lut_4_lut_4_lut }
ble_pack PWM_cnt_7__I_0_i4_4_lut_4_lut_LC_1_5_1 { PWM_cnt_7__I_0_i4_4_lut_4_lut }
ble_pack i2369_2_lut_LC_1_5_2 { i2369_2_lut }
ble_pack LessThan_8_i4_4_lut_4_lut_LC_1_5_3 { LessThan_8_i4_4_lut_4_lut }
ble_pack PWM_cnt_7__I_0_i15_2_lut_rep_57_LC_1_5_4 { PWM_cnt_7__I_0_i15_2_lut_rep_57 }
ble_pack i2_4_lut_adj_19_LC_1_5_5 { i2_4_lut_adj_19 }
ble_pack i1_4_lut_adj_20_LC_1_5_6 { i1_4_lut_adj_20 }
ble_pack i2371_2_lut_2_lut_4_lut_4_lut_LC_1_5_7 { i2371_2_lut_2_lut_4_lut_4_lut }
clb_pack LT_1_5 { i1_2_lut_rep_38_2_lut_4_lut_4_lut_LC_1_5_0, PWM_cnt_7__I_0_i4_4_lut_4_lut_LC_1_5_1, i2369_2_lut_LC_1_5_2, LessThan_8_i4_4_lut_4_lut_LC_1_5_3, PWM_cnt_7__I_0_i15_2_lut_rep_57_LC_1_5_4, i2_4_lut_adj_19_LC_1_5_5, i1_4_lut_adj_20_LC_1_5_6, i2371_2_lut_2_lut_4_lut_4_lut_LC_1_5_7 }
set_location LT_1_5 1 5
ble_pack i1_2_lut_3_lut_adj_14_LC_1_6_0 { i1_2_lut_3_lut_adj_14 }
ble_pack i2_4_lut_adj_25_LC_1_6_1 { i2_4_lut_adj_25 }
ble_pack i1591_4_lut_LC_1_6_2 { i1591_4_lut }
ble_pack i2366_2_lut_rep_40_LC_1_6_3 { i2366_2_lut_rep_40 }
ble_pack i1_3_lut_rep_37_4_lut_4_lut_LC_1_6_4 { i1_3_lut_rep_37_4_lut_4_lut }
ble_pack i1_2_lut_adj_24_LC_1_6_5 { i1_2_lut_adj_24 }
ble_pack i1_2_lut_rep_55_LC_1_6_6 { i1_2_lut_rep_55 }
ble_pack i2_4_lut_adj_18_LC_1_6_7 { i2_4_lut_adj_18 }
clb_pack LT_1_6 { i1_2_lut_3_lut_adj_14_LC_1_6_0, i2_4_lut_adj_25_LC_1_6_1, i1591_4_lut_LC_1_6_2, i2366_2_lut_rep_40_LC_1_6_3, i1_3_lut_rep_37_4_lut_4_lut_LC_1_6_4, i1_2_lut_adj_24_LC_1_6_5, i1_2_lut_rep_55_LC_1_6_6, i2_4_lut_adj_18_LC_1_6_7 }
set_location LT_1_6 1 6
ble_pack PWM_B_156_LC_1_7_2 { i2_4_lut, PWM_B_156 }
clb_pack LT_1_7 { PWM_B_156_LC_1_7_2 }
set_location LT_1_7 1 7
ble_pack drv_cnt_i0_i0_LC_1_8_0 { i1471_1_lut, drv_cnt_i0_i0 }
clb_pack LT_1_8 { drv_cnt_i0_i0_LC_1_8_0 }
set_location LT_1_8 1 8
ble_pack i2c_cmd_0___i10_LC_2_3_0 { i2c_cmd_0___i10_THRU_LUT4_0, i2c_cmd_0___i10 }
ble_pack i2c_cmd_0___i11_LC_2_3_1 { i2c_cmd_0___i11_THRU_LUT4_0, i2c_cmd_0___i11 }
ble_pack i2c_cmd_0___i12_LC_2_3_2 { i2c_cmd_0___i12_THRU_LUT4_0, i2c_cmd_0___i12 }
ble_pack i2c_cmd_0___i13_LC_2_3_3 { i2c_cmd_0___i13_THRU_LUT4_0, i2c_cmd_0___i13 }
ble_pack i2c_cmd_0___i14_LC_2_3_4 { i2c_cmd_0___i14_THRU_LUT4_0, i2c_cmd_0___i14 }
ble_pack i2c_cmd_0___i15_LC_2_3_5 { i2c_cmd_0___i15_THRU_LUT4_0, i2c_cmd_0___i15 }
ble_pack i2c_cmd_0___i16_LC_2_3_6 { i2c_cmd_0___i16_THRU_LUT4_0, i2c_cmd_0___i16 }
ble_pack i2c_cmd_0___i9_LC_2_3_7 { i2c_cmd_0___i9_THRU_LUT4_0, i2c_cmd_0___i9 }
clb_pack LT_2_3 { i2c_cmd_0___i10_LC_2_3_0, i2c_cmd_0___i11_LC_2_3_1, i2c_cmd_0___i12_LC_2_3_2, i2c_cmd_0___i13_LC_2_3_3, i2c_cmd_0___i14_LC_2_3_4, i2c_cmd_0___i15_LC_2_3_5, i2c_cmd_0___i16_LC_2_3_6, i2c_cmd_0___i9_LC_2_3_7 }
set_location LT_2_3 2 3
ble_pack PWM_duty_i0_i0_LC_2_4_0 { PWM_duty_i0_i0_THRU_LUT4_0, PWM_duty_i0_i0 }
ble_pack PWM_duty_i0_i2_LC_2_4_1 { PWM_duty_i0_i2_THRU_LUT4_0, PWM_duty_i0_i2 }
ble_pack PWM_duty_i0_i3_LC_2_4_2 { PWM_duty_i0_i3_THRU_LUT4_0, PWM_duty_i0_i3 }
ble_pack PWM_duty_i0_i4_LC_2_4_3 { PWM_duty_i0_i4_THRU_LUT4_0, PWM_duty_i0_i4 }
ble_pack PWM_duty_i0_i7_LC_2_4_4 { PWM_duty_i0_i7_THRU_LUT4_0, PWM_duty_i0_i7 }
ble_pack PWM_duty_i0_i1_LC_2_4_7 { PWM_duty_i0_i1_THRU_LUT4_0, PWM_duty_i0_i1 }
clb_pack LT_2_4 { PWM_duty_i0_i0_LC_2_4_0, PWM_duty_i0_i2_LC_2_4_1, PWM_duty_i0_i3_LC_2_4_2, PWM_duty_i0_i4_LC_2_4_3, PWM_duty_i0_i7_LC_2_4_4, PWM_duty_i0_i1_LC_2_4_7 }
set_location LT_2_4 2 4
ble_pack motor_dir_bdd_4_lut_LC_2_5_0 { motor_dir_bdd_4_lut }
ble_pack drv_cnt_i0_i2_LC_2_5_1 { n3380_bdd_4_lut, drv_cnt_i0_i2 }
ble_pack i1456_3_lut_3_lut_4_lut_4_lut_LC_2_5_2 { i1456_3_lut_3_lut_4_lut_4_lut }
ble_pack i1461_4_lut_LC_2_5_3 { i1461_4_lut }
ble_pack i12_3_lut_rep_39_3_lut_LC_2_5_4 { i12_3_lut_rep_39_3_lut }
ble_pack i9_3_lut_4_lut_4_lut_LC_2_5_5 { i9_3_lut_4_lut_4_lut }
ble_pack motor_dir_bdd_4_lut_2380_LC_2_5_6 { motor_dir_bdd_4_lut_2380 }
ble_pack drv_cnt_i0_i1_LC_2_5_7 { n3374_bdd_4_lut, drv_cnt_i0_i1 }
clb_pack LT_2_5 { motor_dir_bdd_4_lut_LC_2_5_0, drv_cnt_i0_i2_LC_2_5_1, i1456_3_lut_3_lut_4_lut_4_lut_LC_2_5_2, i1461_4_lut_LC_2_5_3, i12_3_lut_rep_39_3_lut_LC_2_5_4, i9_3_lut_4_lut_4_lut_LC_2_5_5, motor_dir_bdd_4_lut_2380_LC_2_5_6, drv_cnt_i0_i1_LC_2_5_7 }
set_location LT_2_5 2 5
ble_pack drv_clk_counter_602__i0_LC_2_6_0 { drv_clk_counter_602_add_4_2_lut, drv_clk_counter_602__i0, drv_clk_counter_602_add_4_2 }
ble_pack drv_clk_counter_602__i1_LC_2_6_1 { drv_clk_counter_602_add_4_3_lut, drv_clk_counter_602__i1, drv_clk_counter_602_add_4_3 }
ble_pack drv_clk_counter_602__i2_LC_2_6_2 { drv_clk_counter_602_add_4_4_lut, drv_clk_counter_602__i2, drv_clk_counter_602_add_4_4 }
ble_pack drv_clk_counter_602__i3_LC_2_6_3 { drv_clk_counter_602_add_4_5_lut, drv_clk_counter_602__i3, drv_clk_counter_602_add_4_5 }
ble_pack drv_clk_counter_602__i4_LC_2_6_4 { drv_clk_counter_602_add_4_6_lut, drv_clk_counter_602__i4, drv_clk_counter_602_add_4_6 }
ble_pack drv_clk_counter_602__i5_LC_2_6_5 { drv_clk_counter_602_add_4_7_lut, drv_clk_counter_602__i5, drv_clk_counter_602_add_4_7 }
ble_pack drv_clk_counter_602__i6_LC_2_6_6 { drv_clk_counter_602_add_4_8_lut, drv_clk_counter_602__i6, drv_clk_counter_602_add_4_8 }
ble_pack drv_clk_counter_602__i7_LC_2_6_7 { drv_clk_counter_602_add_4_9_lut, drv_clk_counter_602__i7, drv_clk_counter_602_add_4_9 }
clb_pack LT_2_6 { drv_clk_counter_602__i0_LC_2_6_0, drv_clk_counter_602__i1_LC_2_6_1, drv_clk_counter_602__i2_LC_2_6_2, drv_clk_counter_602__i3_LC_2_6_3, drv_clk_counter_602__i4_LC_2_6_4, drv_clk_counter_602__i5_LC_2_6_5, drv_clk_counter_602__i6_LC_2_6_6, drv_clk_counter_602__i7_LC_2_6_7 }
set_location LT_2_6 2 6
ble_pack drv_clk_counter_602__i8_LC_2_7_0 { drv_clk_counter_602_add_4_10_lut, drv_clk_counter_602__i8, drv_clk_counter_602_add_4_10 }
ble_pack drv_clk_counter_602__i9_LC_2_7_1 { drv_clk_counter_602_add_4_11_lut, drv_clk_counter_602__i9, drv_clk_counter_602_add_4_11 }
ble_pack drv_clk_counter_602__i10_LC_2_7_2 { drv_clk_counter_602_add_4_12_lut, drv_clk_counter_602__i10 }
clb_pack LT_2_7 { drv_clk_counter_602__i8_LC_2_7_0, drv_clk_counter_602__i9_LC_2_7_1, drv_clk_counter_602__i10_LC_2_7_2 }
set_location LT_2_7 2 7
ble_pack i1_2_lut_LC_4_1_0 { i1_2_lut }
ble_pack i1_4_lut_adj_15_LC_4_1_1 { i1_4_lut_adj_15 }
ble_pack soft_SBADRi_i3_LC_4_1_2 { i1_4_lut_adj_16, soft_SBADRi_i3 }
ble_pack i1684_4_lut_LC_4_1_3 { i1684_4_lut }
ble_pack hard_SBWRi_161_LC_4_1_4 { i12_4_lut, hard_SBWRi_161 }
ble_pack GB_BUFFER_n3456_THRU_LUT4_0_LC_4_1_5 { GB_BUFFER_n3456_THRU_LUT4_0 }
ble_pack i29_3_lut_4_lut_LC_4_1_6 { i29_3_lut_4_lut }
ble_pack hard_SBDATi_i4_LC_4_1_7 { i1_4_lut_adj_21, hard_SBDATi_i4 }
clb_pack LT_4_1 { i1_2_lut_LC_4_1_0, i1_4_lut_adj_15_LC_4_1_1, soft_SBADRi_i3_LC_4_1_2, i1684_4_lut_LC_4_1_3, hard_SBWRi_161_LC_4_1_4, GB_BUFFER_n3456_THRU_LUT4_0_LC_4_1_5, i29_3_lut_4_lut_LC_4_1_6, hard_SBDATi_i4_LC_4_1_7 }
set_location LT_4_1 4 1
ble_pack i2320_2_lut_LC_4_2_0 { i2320_2_lut }
ble_pack i2318_2_lut_rep_45_3_lut_LC_4_2_2 { i2318_2_lut_rep_45_3_lut }
ble_pack hard_SBSTBi_162_LC_4_2_3 { i1_4_lut_4_lut_4_lut, hard_SBSTBi_162 }
ble_pack i1_2_lut_rep_41_3_lut_4_lut_LC_4_2_4 { i1_2_lut_rep_41_3_lut_4_lut }
ble_pack soft_SBADRi_i0_LC_4_2_5 { i1_4_lut, soft_SBADRi_i0 }
ble_pack i1_2_lut_rep_48_LC_4_2_6 { i1_2_lut_rep_48 }
clb_pack LT_4_2 { i2320_2_lut_LC_4_2_0, i2318_2_lut_rep_45_3_lut_LC_4_2_2, hard_SBSTBi_162_LC_4_2_3, i1_2_lut_rep_41_3_lut_4_lut_LC_4_2_4, soft_SBADRi_i0_LC_4_2_5, i1_2_lut_rep_48_LC_4_2_6 }
set_location LT_4_2 4 2
ble_pack i2c_cmd_0___i2_LC_4_3_2 { i2c_cmd_0___i2_THRU_LUT4_0, i2c_cmd_0___i2 }
ble_pack i2c_cmd_0___i4_LC_4_3_4 { i2c_cmd_0___i4_THRU_LUT4_0, i2c_cmd_0___i4 }
ble_pack i2c_cmd_0___i5_LC_4_3_5 { i2c_cmd_0___i5_THRU_LUT4_0, i2c_cmd_0___i5 }
clb_pack LT_4_3 { i2c_cmd_0___i2_LC_4_3_2, i2c_cmd_0___i4_LC_4_3_4, i2c_cmd_0___i5_LC_4_3_5 }
set_location LT_4_3 4 3
ble_pack i1_2_lut_3_lut_adj_7_LC_4_4_0 { i1_2_lut_3_lut_adj_7 }
ble_pack motor_on_172_LC_4_4_1 { i1881_4_lut, motor_on_172 }
ble_pack i1_2_lut_3_lut_adj_1_LC_4_4_4 { i1_2_lut_3_lut_adj_1 }
ble_pack i2_2_lut_3_lut_LC_4_4_6 { i2_2_lut_3_lut }
clb_pack LT_4_4 { i1_2_lut_3_lut_adj_7_LC_4_4_0, motor_on_172_LC_4_4_1, i1_2_lut_3_lut_adj_1_LC_4_4_4, i2_2_lut_3_lut_LC_4_4_6 }
set_location LT_4_4 4 4
ble_pack i1872_4_lut_LC_4_5_2 { i1872_4_lut }
ble_pack motor_dir_173_LC_4_5_3 { i1873_3_lut, motor_dir_173 }
clb_pack LT_4_5 { i1872_4_lut_LC_4_5_2, motor_dir_173_LC_4_5_3 }
set_location LT_4_5 4 5
ble_pack i1726_4_lut_LC_5_1_2 { i1726_4_lut }
ble_pack hard_SBDATi_i2_LC_5_1_3 { i1_4_lut_adj_17, hard_SBDATi_i2 }
ble_pack i38_3_lut_LC_5_1_4 { i38_3_lut }
ble_pack i1533_2_lut_rep_49_LC_5_1_5 { i1533_2_lut_rep_49 }
ble_pack i1_4_lut_adj_10_LC_5_1_6 { i1_4_lut_adj_10 }
ble_pack soft_SBADRi_i1_LC_5_1_7 { i1_4_lut_adj_11, soft_SBADRi_i1 }
clb_pack LT_5_1 { i1726_4_lut_LC_5_1_2, hard_SBDATi_i2_LC_5_1_3, i38_3_lut_LC_5_1_4, i1533_2_lut_rep_49_LC_5_1_5, i1_4_lut_adj_10_LC_5_1_6, soft_SBADRi_i1_LC_5_1_7 }
set_location LT_5_1 5 1
ble_pack i2c_steps_i3_LC_5_2_4 { i1_3_lut_adj_9, i2c_steps_i3 }
clb_pack LT_5_2 { i2c_steps_i3_LC_5_2_4 }
set_location LT_5_2 5 2
ble_pack i2c_cmd_0___i3_LC_5_3_2 { i2c_cmd_0___i3_THRU_LUT4_0, i2c_cmd_0___i3 }
ble_pack i2c_cmd_0___i1_LC_5_3_3 { i2c_cmd_0___i1_THRU_LUT4_0, i2c_cmd_0___i1 }
ble_pack i2c_cmd_0___i8_LC_5_3_4 { i2c_cmd_0___i8_THRU_LUT4_0, i2c_cmd_0___i8 }
ble_pack i2c_cmd_0___i7_LC_5_3_6 { i2c_cmd_0___i7_THRU_LUT4_0, i2c_cmd_0___i7 }
ble_pack i2c_cmd_0___i6_LC_5_3_7 { i2c_cmd_0___i6_THRU_LUT4_0, i2c_cmd_0___i6 }
clb_pack LT_5_3 { i2c_cmd_0___i3_LC_5_3_2, i2c_cmd_0___i1_LC_5_3_3, i2c_cmd_0___i8_LC_5_3_4, i2c_cmd_0___i7_LC_5_3_6, i2c_cmd_0___i6_LC_5_3_7 }
set_location LT_5_3 5 3
ble_pack i2302_4_lut_4_lut_LC_5_4_1 { i2302_4_lut_4_lut }
ble_pack i36_4_lut_LC_5_4_2 { i36_4_lut }
ble_pack cmd_decoded_170_LC_5_4_3 { i34_4_lut, cmd_decoded_170 }
ble_pack i1_2_lut_rep_44_LC_5_4_4 { i1_2_lut_rep_44 }
ble_pack i3_4_lut_LC_5_4_5 { i3_4_lut }
ble_pack i2311_2_lut_LC_5_4_6 { i2311_2_lut }
ble_pack i3_4_lut_adj_23_LC_5_4_7 { i3_4_lut_adj_23 }
clb_pack LT_5_4 { i2302_4_lut_4_lut_LC_5_4_1, i36_4_lut_LC_5_4_2, cmd_decoded_170_LC_5_4_3, i1_2_lut_rep_44_LC_5_4_4, i3_4_lut_LC_5_4_5, i2311_2_lut_LC_5_4_6, i3_4_lut_adj_23_LC_5_4_7 }
set_location LT_5_4 5 4
ble_pack i2316_3_lut_4_lut_LC_6_2_0 { i2316_3_lut_4_lut }
ble_pack i2c_stat_i2_LC_6_2_1 { i2315_3_lut, i2c_stat_i2 }
ble_pack i2c_stat_i6_LC_6_2_3 { i2317_3_lut, i2c_stat_i6 }
ble_pack i1555_2_lut_rep_50_LC_6_2_5 { i1555_2_lut_rep_50 }
ble_pack i1_2_lut_2_lut_3_lut_4_lut_LC_6_2_6 { i1_2_lut_2_lut_3_lut_4_lut }
clb_pack LT_6_2 { i2316_3_lut_4_lut_LC_6_2_0, i2c_stat_i2_LC_6_2_1, i2c_stat_i6_LC_6_2_3, i1555_2_lut_rep_50_LC_6_2_5, i1_2_lut_2_lut_3_lut_4_lut_LC_6_2_6 }
set_location LT_6_2 6 2
ble_pack i1_2_lut_rep_42_3_lut_LC_6_3_0 { i1_2_lut_rep_42_3_lut }
ble_pack i28_4_lut_LC_6_3_1 { i28_4_lut }
ble_pack soft_SBADRi_i2_LC_6_3_2 { i1_4_lut_adj_12, soft_SBADRi_i2 }
ble_pack i1_2_lut_adj_8_LC_6_3_4 { i1_2_lut_adj_8 }
ble_pack i1_2_lut_3_lut_4_lut_LC_6_3_5 { i1_2_lut_3_lut_4_lut }
ble_pack i1968_4_lut_LC_6_3_6 { i1968_4_lut }
ble_pack i2c_steps_i2_LC_6_3_7 { i1733_4_lut, i2c_steps_i2 }
clb_pack LT_6_3 { i1_2_lut_rep_42_3_lut_LC_6_3_0, i28_4_lut_LC_6_3_1, soft_SBADRi_i2_LC_6_3_2, i1_2_lut_adj_8_LC_6_3_4, i1_2_lut_3_lut_4_lut_LC_6_3_5, i1968_4_lut_LC_6_3_6, i2c_steps_i2_LC_6_3_7 }
set_location LT_6_3 6 3
ble_pack i2_3_lut_rep_54_LC_6_4_0 { i2_3_lut_rep_54 }
ble_pack i1116_2_lut_3_lut_4_lut_LC_6_4_1 { i1116_2_lut_3_lut_4_lut }
ble_pack i1_2_lut_3_lut_LC_6_4_2 { i1_2_lut_3_lut }
ble_pack i1_2_lut_rep_46_4_lut_LC_6_4_4 { i1_2_lut_rep_46_4_lut }
ble_pack i2_3_lut_4_lut_LC_6_4_5 { i2_3_lut_4_lut }
ble_pack i1_2_lut_rep_43_3_lut_LC_6_4_6 { i1_2_lut_rep_43_3_lut }
ble_pack i1_2_lut_rep_59_LC_6_4_7 { i1_2_lut_rep_59 }
clb_pack LT_6_4 { i2_3_lut_rep_54_LC_6_4_0, i1116_2_lut_3_lut_4_lut_LC_6_4_1, i1_2_lut_3_lut_LC_6_4_2, i1_2_lut_rep_46_4_lut_LC_6_4_4, i2_3_lut_4_lut_LC_6_4_5, i1_2_lut_rep_43_3_lut_LC_6_4_6, i1_2_lut_rep_59_LC_6_4_7 }
set_location LT_6_4 6 4
ble_pack i2c_cmd_cnt_601__i1_LC_6_5_2 { i1935_2_lut, i2c_cmd_cnt_601__i1 }
ble_pack i2c_cmd_cnt_601__i0_LC_6_5_3 { i1933_1_lut, i2c_cmd_cnt_601__i0 }
ble_pack i2c_cmd_cnt_601__i2_LC_6_5_4 { i1942_3_lut, i2c_cmd_cnt_601__i2 }
clb_pack LT_6_5 { i2c_cmd_cnt_601__i1_LC_6_5_2, i2c_cmd_cnt_601__i0_LC_6_5_3, i2c_cmd_cnt_601__i2_LC_6_5_4 }
set_location LT_6_5 6 5
ble_pack i2c_steps_i1_LC_7_2_0 { i1741_4_lut, i2c_steps_i1 }
ble_pack i277_2_lut_LC_7_2_1 { i277_2_lut }
ble_pack i1_2_lut_rep_53_LC_7_2_2 { i1_2_lut_rep_53 }
ble_pack equal_669_i3_2_lut_rep_56_LC_7_2_3 { equal_669_i3_2_lut_rep_56 }
ble_pack i36_4_lut_adj_5_LC_7_2_4 { i36_4_lut_adj_5 }
ble_pack i1_4_lut_adj_6_LC_7_2_5 { i1_4_lut_adj_6 }
ble_pack i1_2_lut_adj_2_LC_7_2_6 { i1_2_lut_adj_2 }
ble_pack i1_3_lut_adj_4_LC_7_2_7 { i1_3_lut_adj_4 }
clb_pack LT_7_2 { i2c_steps_i1_LC_7_2_0, i277_2_lut_LC_7_2_1, i1_2_lut_rep_53_LC_7_2_2, equal_669_i3_2_lut_rep_56_LC_7_2_3, i36_4_lut_adj_5_LC_7_2_4, i1_4_lut_adj_6_LC_7_2_5, i1_2_lut_adj_2_LC_7_2_6, i1_3_lut_adj_4_LC_7_2_7 }
set_location LT_7_2 7 2
ble_pack i2c_cnt_599_600__i1_LC_7_3_0 { i2c_cnt_599_600_mux_7_i1_3_lut_4_lut, i2c_cnt_599_600__i1 }
ble_pack i1_2_lut_3_lut_adj_13_LC_7_3_1 { i1_2_lut_3_lut_adj_13 }
ble_pack i2_4_lut_adj_3_LC_7_3_2 { i2_4_lut_adj_3 }
ble_pack i2c_steps_i0_LC_7_3_3 { i1677_4_lut, i2c_steps_i0 }
ble_pack i2c_cnt_599_600__i2_LC_7_3_5 { i2c_cnt_599_600_mux_7_i2_4_lut_3_lut, i2c_cnt_599_600__i2 }
ble_pack i2323_3_lut_LC_7_3_6 { i2323_3_lut }
ble_pack i1669_4_lut_LC_7_3_7 { i1669_4_lut }
clb_pack LT_7_3 { i2c_cnt_599_600__i1_LC_7_3_0, i1_2_lut_3_lut_adj_13_LC_7_3_1, i2_4_lut_adj_3_LC_7_3_2, i2c_steps_i0_LC_7_3_3, i2c_cnt_599_600__i2_LC_7_3_5, i2323_3_lut_LC_7_3_6, i1669_4_lut_LC_7_3_7 }
set_location LT_7_3 7 3
set_location sysclk_GB 6 0
set_io io_i2c_sda A2
set_io io_i2c_scl A1
