set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_7_0_ 1 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_4_0_ 1 4 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 0 10 3 #SB_LUT4
set_location GB_BUFFER_n2981_THRU_LUT4_0 4 1 3 #SB_LUT4
set_location i2c_cmd_0___i9_THRU_LUT4_0 1 1 7 #SB_LUT4
set_location i2c_cmd_0___i8_THRU_LUT4_0 1 2 6 #SB_LUT4
set_location i2c_cmd_0___i7_THRU_LUT4_0 1 2 5 #SB_LUT4
set_location i2c_cmd_0___i6_THRU_LUT4_0 1 2 4 #SB_LUT4
set_location i2c_cmd_0___i5_THRU_LUT4_0 1 2 3 #SB_LUT4
set_location i2c_cmd_0___i4_THRU_LUT4_0 1 2 2 #SB_LUT4
set_location i2c_cmd_0___i3_THRU_LUT4_0 2 2 6 #SB_LUT4
set_location i2c_cmd_0___i2_THRU_LUT4_0 1 2 1 #SB_LUT4
set_location i2c_cmd_0___i16_THRU_LUT4_0 1 1 6 #SB_LUT4
set_location i2c_cmd_0___i15_THRU_LUT4_0 1 1 5 #SB_LUT4
set_location i2c_cmd_0___i14_THRU_LUT4_0 1 1 4 #SB_LUT4
set_location i2c_cmd_0___i13_THRU_LUT4_0 1 1 3 #SB_LUT4
set_location i2c_cmd_0___i12_THRU_LUT4_0 1 1 2 #SB_LUT4
set_location i2c_cmd_0___i11_THRU_LUT4_0 1 1 1 #SB_LUT4
set_location i2c_cmd_0___i10_THRU_LUT4_0 1 1 0 #SB_LUT4
set_location i2c_cmd_0___i1_THRU_LUT4_0 1 2 0 #SB_LUT4
set_location PWM_duty_i7_THRU_LUT4_0 1 3 5 #SB_LUT4
set_location PWM_duty_i6_THRU_LUT4_0 1 3 4 #SB_LUT4
set_location PWM_duty_i5_THRU_LUT4_0 1 3 3 #SB_LUT4
set_location PWM_duty_i4_THRU_LUT4_0 1 3 6 #SB_LUT4
set_location PWM_duty_i3_THRU_LUT4_0 1 3 7 #SB_LUT4
set_location PWM_duty_i2_THRU_LUT4_0 1 3 2 #SB_LUT4
set_location PWM_duty_i1_THRU_LUT4_0 1 3 1 #SB_LUT4
set_location PWM_duty_i0_THRU_LUT4_0 1 3 0 #SB_LUT4
set_location add_188_2 1 4 0 #SB_CARRY
set_location i1871_4_lut 2 2 1 #SB_LUT4
set_location PWM_duty_i0 1 3 0 #SB_DFFE
set_location PWM_cnt__i0 1 4 0 #SB_DFFESR
set_location i2_3_lut_adj_8 0 6 7 #SB_LUT4
set_location i1_2_lut_rep_40_3_lut 6 2 6 #SB_LUT4
set_location i1_2_lut_3_lut 4 4 0 #SB_LUT4
set_location i1049_3_lut 1 5 4 #SB_LUT4
set_location soft_SBADRi_i0 4 2 0 #SB_DFF
set_location i4_4_lut 2 2 4 #SB_LUT4
set_location i2c_cmd_0___i2 1 2 1 #SB_DFFE
set_location i1882_4_lut 0 4 1 #SB_LUT4
set_location add_188_7 1 4 5 #SB_CARRY
set_location add_188_2_lut 1 4 0 #SB_LUT4
set_location i856_4_lut 5 2 5 #SB_LUT4
set_location i2_4_lut_adj_9 2 6 0 #SB_LUT4
set_location i1_4_lut_adj_22 4 2 0 #SB_LUT4
set_location i1_2_lut_3_lut_4_lut_adj_4 5 3 7 #SB_LUT4
set_location i1863_4_lut 6 2 1 #SB_LUT4
set_location PWM_duty_i7 1 3 5 #SB_DFFE
set_location PWM_cnt_7__I_0_i10_3_lut_3_lut 2 3 0 #SB_LUT4
set_location i1160_4_lut 1 5 7 #SB_LUT4
set_location PWM_cnt_7__I_0_i4_4_lut_4_lut 0 4 5 #SB_LUT4
set_location i2c_cmd_0___i7 1 2 5 #SB_DFFE
set_location i29_3_lut_4_lut_adj_1 5 3 4 #SB_LUT4
set_location i1_2_lut_adj_21 2 2 3 #SB_LUT4
set_location PWM_G_143 0 7 0 #SB_DFFESR
set_location LessThan_8_i10_3_lut_3_lut 2 4 3 #SB_LUT4
set_location i2c_steps_i3 4 4 0 #SB_DFFSR
set_location i1_3_lut 5 2 4 #SB_LUT4
set_location i1_2_lut_rep_46 6 3 0 #SB_LUT4
set_location drv_clk_counter_526__i5 1 6 5 #SB_DFFSR
set_location motor_on_158 2 3 6 #SB_DFF
set_location i2c_cmd_0___i11 1 1 1 #SB_DFFE
set_location i1_3_lut_4_lut 4 3 3 #SB_LUT4
set_location i1203_3_lut 0 7 0 #SB_LUT4
set_location drv_clk_counter_526_add_4_7_lut 1 6 5 #SB_LUT4
set_location drv_clk_counter_526_add_4_4_lut 1 6 2 #SB_LUT4
set_location drv_clk_counter_526_add_4_10_lut 1 7 0 #SB_LUT4
set_location PWM_B_142 0 6 5 #SB_DFFE
set_location i1_4_lut_adj_14 5 3 1 #SB_LUT4
set_location drv_clk_counter_526__i8 1 7 0 #SB_DFFSR
set_location drv_clk_counter_526_add_4_6 1 6 4 #SB_CARRY
set_location drv_clk_counter_526_add_4_10 1 7 0 #SB_CARRY
set_location PWM_cnt__i7 1 4 7 #SB_DFFESR
set_location i1_2_lut_rep_39_4_lut 6 3 1 #SB_LUT4
set_location i1279_2_lut_3_lut 5 1 4 #SB_LUT4
set_location drv_cnt_i0_i1 0 5 0 #SB_DFFE
set_location add_188_7_lut 1 4 5 #SB_LUT4
set_location i1_3_lut_adj_20 2 4 6 #SB_LUT4
set_location i1073_4_lut 2 3 2 #SB_LUT4
set_location drv_clk_counter_526_add_4_3 1 6 1 #SB_CARRY
set_location add_188_4 1 4 2 #SB_CARRY
set_location mux_55_i7_3_lut 6 1 0 #SB_LUT4
set_location i1240_2_lut 5 2 3 #SB_LUT4
set_location PWM_duty_i2 1 3 2 #SB_DFFE
set_location PWM_cnt__i2 1 4 2 #SB_DFFESR
set_location i36_4_lut 5 1 2 #SB_LUT4
set_location i2_3_lut_rep_43 5 3 6 #SB_LUT4
set_location PWM_cnt_7__I_0_i12_3_lut_3_lut 1 5 2 #SB_LUT4
set_location i2c_cmd_0___i4 1 2 2 #SB_DFFE
set_location drv_clk_counter_526_add_4_8 1 6 6 #SB_CARRY
set_location i2c_cmd_cnt_525__i2 6 4 5 #SB_DFFESR
set_location i2_4_lut 0 6 5 #SB_LUT4
set_location hard_SBDATi_i7 5 3 5 #SB_DFF
set_location drv_clk_counter_526__i0 1 6 0 #SB_DFFSR
set_location i2c_cmd_0___i14 1 1 4 #SB_DFFE
set_location i2_3_lut_adj_7 6 2 2 #SB_LUT4
set_location i1_2_lut_3_lut_adj_11 0 6 0 #SB_LUT4
set_location LessThan_8_i4_4_lut_4_lut 2 4 2 #SB_LUT4
set_location i2c_cmd_0___i9 1 1 7 #SB_DFFE
set_location i2_2_lut_3_lut 6 3 3 #SB_LUT4
set_location i2c_steps_i1 5 2 5 #SB_DFF
set_location i2c_stat_i2 6 2 7 #SB_DFF
set_location i2_3_lut_rep_52 5 1 6 #SB_LUT4
set_location i2_3_lut 6 1 4 #SB_LUT4
set_location i1_4_lut_adj_13 5 2 0 #SB_LUT4
set_location i1_2_lut_rep_44 5 4 7 #SB_LUT4
set_location i1852_2_lut 2 2 0 #SB_LUT4
set_location hard_SBDATi_i2 4 2 7 #SB_DFF
set_location drv_clk_counter_526__i7 1 6 7 #SB_DFFSR
set_location i2c_cmd_0___i13 1 1 3 #SB_DFFE
set_location i3_4_lut 2 3 7 #SB_LUT4
set_location i1_4_lut_adj_16 4 1 1 #SB_LUT4
set_location LessThan_8_i14_3_lut 2 4 1 #SB_LUT4
set_location i745_2_lut_rep_42_4_lut 4 1 6 #SB_LUT4
set_location i2c_cmd_cnt_525__i1 6 4 2 #SB_DFFESR
set_location i2_4_lut_adj_6 0 6 1 #SB_LUT4
set_location i2_4_lut_adj_10 2 6 1 #SB_LUT4
set_location hard_SBSTBi_148 5 1 7 #SB_DFF
set_location drv_clk_counter_526__i3 1 6 3 #SB_DFFSR
set_location add_188_4_lut 1 4 2 #SB_LUT4
set_location PWM_cnt_7__I_0_i11_2_lut_rep_48 0 4 7 #SB_LUT4
set_location PWM_duty_i1 1 3 1 #SB_DFFE
set_location PWM_cnt__i1 1 4 1 #SB_DFFESR
set_location PWM_cnt_7__I_0_i8_3_lut_3_lut 0 4 4 #SB_LUT4
set_location LessThan_8_i12_3_lut_3_lut 2 4 4 #SB_LUT4
set_location i2_3_lut_4_lut 5 3 2 #SB_LUT4
set_location i1923_2_lut_rep_41_4_lut 4 3 1 #SB_LUT4
set_location LessThan_8_i8_3_lut_3_lut 2 3 4 #SB_LUT4
set_location soft_SBADRi_i3 4 1 1 #SB_DFF
set_location i2c_cnt_523_524_mux_7_i1_3_lut 5 1 3 #SB_LUT4
set_location i2c_cmd_0___i1 1 2 0 #SB_DFFE
set_location i2_3_lut_rep_37 1 5 6 #SB_LUT4
set_location i1_4_lut_adj_2 6 2 4 #SB_LUT4
set_location i1_2_lut_rep_45 2 6 3 #SB_LUT4
set_location i1079_4_lut 2 3 6 #SB_LUT4
set_location equal_587_i3_2_lut_rep_56 5 1 1 #SB_LUT4
set_location drv_clk_counter_526__i6 1 6 6 #SB_DFFSR
set_location add_188_6 1 4 4 #SB_CARRY
set_location i2c_cnt_523_524_mux_7_i2_4_lut_3_lut 5 1 0 #SB_LUT4
set_location i2c_cnt_523_524__i1 5 1 3 #SB_DFF
set_location i2c_cmd_0___i12 1 1 2 #SB_DFFE
set_location i28_4_lut 4 2 2 #SB_LUT4
set_location i1926_2_lut 0 6 4 #SB_LUT4
set_location drv_clk_counter_526_add_4_4 1 6 2 #SB_CARRY
set_location add_188_8_lut 1 4 6 #SB_LUT4
set_location PWM_duty_i4 1 3 6 #SB_DFFE
set_location i1921_2_lut 1 5 0 #SB_LUT4
set_location PWM_cnt__i5 1 4 5 #SB_DFFESR
set_location i2c_cmd_0___i6 1 2 4 #SB_DFFE
set_location i2_3_lut_adj_17 5 2 6 #SB_LUT4
set_location i1_4_lut_adj_19 4 2 5 #SB_LUT4
set_location i1_3_lut_4_lut_adj_5 6 3 2 #SB_LUT4
set_location i1893_4_lut 0 4 2 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location PWM_cnt_7__I_0_i9_2_lut_rep_47 0 4 0 #SB_LUT4
set_location LessThan_8_i16_3_lut 2 4 5 #SB_LUT4
set_location i30_4_lut_3_lut 2 3 1 #SB_LUT4
set_location i2c_steps_i2 5 2 2 #SB_DFF
set_location i2c_cmd_cnt_525__i0 6 4 3 #SB_DFFESR
set_location i1_4_lut_4_lut 5 2 1 #SB_LUT4
set_location drv_clk_counter_526_add_4_11_lut 1 7 1 #SB_LUT4
set_location drv_clk_counter_526__i2 1 6 2 #SB_DFFSR
set_location i2c_cmd_0___i16 1 1 6 #SB_DFFE
set_location i1918_4_lut 6 1 1 #SB_LUT4
set_location drv_clk_counter_526_add_4_12_lut 1 7 2 #SB_LUT4
set_location LessThan_8_i13_2_lut_rep_50 1 5 5 #SB_LUT4
set_location i29_3_lut_4_lut 4 2 4 #SB_LUT4
set_location i1895_3_lut_3_lut_4_lut 2 4 0 #SB_LUT4
set_location i1256_2_lut_rep_53 4 2 1 #SB_LUT4
set_location i1241_2_lut_rep_54 4 3 5 #SB_LUT4
set_location LessThan_8_i7_2_lut_rep_49 0 4 6 #SB_LUT4
set_location i1_4_lut_adj_3 6 2 5 #SB_LUT4
set_location i1_4_lut_adj_15 4 2 3 #SB_LUT4
set_location drv_clk_counter_526__i9 1 7 1 #SB_DFFSR
set_location add_188_5_lut 1 4 3 #SB_LUT4
set_location LessThan_8_i6_3_lut_3_lut 2 3 3 #SB_LUT4
set_location i627_1_lut 6 4 3 #SB_LUT4
set_location i1536_2_lut 6 4 2 #SB_LUT4
set_location drv_clk_counter_526_add_4_5 1 6 3 #SB_CARRY
set_location PWM_cnt_7__I_0_i6_3_lut_3_lut 0 4 3 #SB_LUT4
set_location i60_3_lut 6 2 3 #SB_LUT4
set_location i1543_3_lut 6 4 5 #SB_LUT4
set_location i1286_2_lut 2 3 5 #SB_LUT4
set_location drv_clk_counter_526_add_4_11 1 7 1 #SB_CARRY
set_location PWM_cnt__i4 1 4 4 #SB_DFFESR
set_location mux_55_i3_3_lut 6 2 0 #SB_LUT4
set_location mux_387_i1_4_lut 4 1 7 #SB_LUT4
set_location i28_4_lut_4_lut 4 2 6 #SB_LUT4
set_location i1_4_lut_adj_18 4 2 7 #SB_LUT4
set_location i1846_4_lut 0 6 2 #SB_LUT4
set_location drv_cnt_i0_i0 1 5 1 #SB_DFF
set_location i847_4_lut 5 2 2 #SB_LUT4
set_location drv_clk_counter_526_add_4_3_lut 1 6 1 #SB_LUT4
set_location drv_clk_counter_526_add_4_2 1 6 0 #SB_CARRY
set_location add_188_3 1 4 1 #SB_CARRY
set_location PWM_cnt_7__I_0_i14_3_lut 1 5 3 #SB_LUT4
set_location i2c_cnt_523_524__i2 5 1 0 #SB_DFF
set_location i1293_3_lut_4_lut 6 1 2 #SB_LUT4
set_location PWM_duty_i3 1 3 7 #SB_DFFE
set_location PWM_cnt__i3 1 4 3 #SB_DFFESR
set_location i58_4_lut 6 1 3 #SB_LUT4
set_location soft_SBADRi_i1 5 3 2 #SB_DFF
set_location i2c_cmd_0___i3 2 2 6 #SB_DFFE
set_location i19_2_lut_4_lut 1 5 1 #SB_LUT4
set_location i1916_4_lut 6 2 7 #SB_LUT4
set_location i1199_3_lut 0 7 1 #SB_LUT4
set_location add_188_8 1 4 6 #SB_CARRY
set_location i1_4_lut_adj_23 5 3 5 #SB_LUT4
set_location hard_SBDATi_i4 4 2 5 #SB_DFF
set_location drv_clk_counter_526__i1 1 6 1 #SB_DFFSR
set_location PWM_duty_i6 1 3 4 #SB_DFFE
set_location LessThan_8_i15_2_lut_rep_51 2 4 7 #SB_LUT4
set_location i2c_cmd_0___i15 1 1 5 #SB_DFFE
set_location i1_2_lut_3_lut_adj_12 4 1 0 #SB_LUT4
set_location drv_clk_counter_526_add_4_9_lut 1 6 7 #SB_LUT4
set_location i2c_cmd_0___i8 1 2 6 #SB_DFFE
set_location hard_SBWRi_147 4 1 7 #SB_DFF
set_location add_188_9_lut 1 4 7 #SB_LUT4
set_location PWM_R_144 0 7 1 #SB_DFFESR
set_location i2c_steps_i0 6 2 5 #SB_DFF
set_location i29_4_lut_4_lut 5 3 0 #SB_LUT4
set_location drv_clk_counter_526__i4 1 6 4 #SB_DFFSR
set_location drv_clk_counter_526__i10 1 7 2 #SB_DFFSR
set_location i2c_cmd_0___i10 1 1 0 #SB_DFFE
set_location i1_4_lut 5 3 3 #SB_LUT4
set_location drv_clk_counter_526_add_4_8_lut 1 6 6 #SB_LUT4
set_location drv_clk_counter_526_add_4_5_lut 1 6 3 #SB_LUT4
set_location i2c_stat_i6 6 1 1 #SB_DFF
set_location cmd_decoded_156 2 3 2 #SB_DFF
set_location i1_2_lut_rep_38_3_lut 5 4 0 #SB_LUT4
set_location drv_clk_counter_526_add_4_7 1 6 5 #SB_CARRY
set_location PWM_cnt__i6 1 4 6 #SB_DFFESR
set_location i746_3_lut_4_lut 5 1 7 #SB_LUT4
set_location drv_cnt_i0_i2 1 5 7 #SB_DFF
set_location soft_SBADRi_i2 4 2 3 #SB_DFF
set_location i248_4_lut 2 6 2 #SB_LUT4
set_location i1_2_lut 0 6 3 #SB_LUT4
set_location i1195_3_lut 0 5 0 #SB_LUT4
set_location add_188_5 1 4 3 #SB_CARRY
set_location i1844_2_lut_rep_55 5 4 4 #SB_LUT4
set_location drv_clk_counter_526_add_4_6_lut 1 6 4 #SB_LUT4
set_location PWM_duty_i5 1 3 3 #SB_DFFE
set_location i1_2_lut_3_lut_4_lut 5 2 7 #SB_LUT4
set_location add_188_3_lut 1 4 1 #SB_LUT4
set_location i2c_cmd_0___i5 1 2 3 #SB_DFFE
set_location drv_clk_counter_526_add_4_9 1 6 7 #SB_CARRY
set_location drv_clk_counter_526_add_4_2_lut 1 6 0 #SB_LUT4
set_location add_188_6_lut 1 4 4 #SB_LUT4
set_io io_i2c_sda A2
set_io io_i2c_scl A1
